/* Error: Undefined mixin.
 *    ,
 * 1  | / @include bp(xs){
 * 2  | | 
 * 3  | |     .tabSearch{
 * 4  | | 
 * 5  | |         &__panel{
 * 6  | |             display: flex;
 * 7  | |             align-items: center;
 * 8  | |             &--search{
 * 9  | |                 display: flex;
 * 10 | |                 align-items: center;
 * 11 | |                 border-radius: px2rem(19);
 * 12 | |                 border: px2rem(1) solid $first-accent-color;
 * 13 | |                 overflow: hidden;
 * 14 | |                 background-color: $default-light-color;
 * 15 | |                 box-shadow: 0 0 px2rem(10) rgba(56, 56, 56, 0.2);
 * 16 | |                 max-height: px2rem(38);
 * 17 | | 
 * 18 | |                 &::before{
 * 19 | |                     content: '';
 * 20 | |                     display: block;
 * 21 | |                     width: px2rem(14);
 * 22 | |                     height: px2rem(16);
 * 23 | |                     margin-right: px2rem(6);
 * 24 | |                     margin-left: px2rem(12);
 * 25 | |                     background-color: $text-color;
 * 26 | |                     mask-size: contain;
 * 27 | |                     mask-position: center;
 * 28 | |                     mask-repeat: no-repeat;
 * 29 | |                     mask-image: url("../images/search.svg");
 * 30 | |                     -webkit-mask-size: contain;
 * 31 | |                     -webkit-mask-position: center;
 * 32 | |                     -webkit-mask-repeat: no-repeat;
 * 33 | |                     -webkit-mask-image: url("../images/search.svg");
 * 34 | |                 }
 * 35 | |                 input{
 * 36 | |                     font-family: 'SF Pro Text Regular', serif;
 * 37 | |                     height: 100%;
 * 38 | |                     padding: px2rem(10) px2rem(12);
 * 39 | |                     border: none;
 * 40 | |                     font-size: px2rem(16);
 * 41 | |                     line-height: 1;
 * 42 | |                     color: $input-tab-input-color;
 * 43 | |                 }
 * 44 | |             }
 * 45 | | 
 * 46 | |             &--tabItems{
 * 47 | |                 display: flex;
 * 48 | |                 justify-content: space-between;
 * 49 | |                 overflow-x: auto;
 * 50 | |                 padding: px2rem(10) 0;
 * 51 | |                 &--item{
 * 52 | |                     border: px2rem(1) solid $first-accent-color;
 * 53 | |                     box-shadow: 0 0 px2rem(10) rgba(56, 56, 56, 0.2);
 * 54 | |                     display: inline-flex;
 * 55 | |                     align-items: center;
 * 56 | |                     justify-content: center;
 * 57 | |                     padding: px2rem(10) px2rem(12);
 * 58 | |                     border-radius: px2rem(19);
 * 59 | |                     background-color: $default-light-color;
 * 60 | |                     cursor: pointer;
 * 61 | |                     line-height: 1;
 * 62 | |                     font-size: px2rem(16);
 * 63 | |                     white-space: nowrap;
 * 64 | |                     transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
 * 65 | |                     &.active, &:hover{
 * 66 | |                         background-color: $first-accent-color;
 * 67 | |                         color: $default-light-color;
 * 68 | |                     }
 * 69 | |                     &:not(:last-child){
 * 70 | |                         margin-right: px2rem(10);
 * 71 | |                     }
 * 72 | |                 }
 * 73 | |             }
 * 74 | | 
 * 75 | |         }
 * 76 | | 
 * 77 | |         &__row{
 * 78 | |             display: none;
 * 79 | |             &.active{
 * 80 | |                 display: flex;
 * 81 | |             }
 * 82 | |         }
 * 83 | | 
 * 84 | |         &__title{
 * 85 | |             margin: px2rem(10) 0 px2rem(30) 0;
 * 86 | |         }
 * 87 | | 
 * 88 | |     }
 * 89 | | 
 * 90 | \ }
 *    '
 *   tabSearch.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include bp(xs){\a 2  \2502  \2502  \a 3  \2502  \2502      .tabSearch{\a 4  \2502  \2502  \a 5  \2502  \2502          &__panel{\a 6  \2502  \2502              display: flex;\a 7  \2502  \2502              align-items: center;\a 8  \2502  \2502              &--search{\a 9  \2502  \2502                  display: flex;\a 10 \2502  \2502                  align-items: center;\a 11 \2502  \2502                  border-radius: px2rem(19);\a 12 \2502  \2502                  border: px2rem(1) solid $first-accent-color;\a 13 \2502  \2502                  overflow: hidden;\a 14 \2502  \2502                  background-color: $default-light-color;\a 15 \2502  \2502                  box-shadow: 0 0 px2rem(10) rgba(56, 56, 56, 0.2);\a 16 \2502  \2502                  max-height: px2rem(38);\a 17 \2502  \2502  \a 18 \2502  \2502                  &::before{\a 19 \2502  \2502                      content: '';\a 20 \2502  \2502                      display: block;\a 21 \2502  \2502                      width: px2rem(14);\a 22 \2502  \2502                      height: px2rem(16);\a 23 \2502  \2502                      margin-right: px2rem(6);\a 24 \2502  \2502                      margin-left: px2rem(12);\a 25 \2502  \2502                      background-color: $text-color;\a 26 \2502  \2502                      mask-size: contain;\a 27 \2502  \2502                      mask-position: center;\a 28 \2502  \2502                      mask-repeat: no-repeat;\a 29 \2502  \2502                      mask-image: url(\"../images/search.svg\");\a 30 \2502  \2502                      -webkit-mask-size: contain;\a 31 \2502  \2502                      -webkit-mask-position: center;\a 32 \2502  \2502                      -webkit-mask-repeat: no-repeat;\a 33 \2502  \2502                      -webkit-mask-image: url(\"../images/search.svg\");\a 34 \2502  \2502                  }\a 35 \2502  \2502                  input{\a 36 \2502  \2502                      font-family: 'SF Pro Text Regular', serif;\a 37 \2502  \2502                      height: 100%;\a 38 \2502  \2502                      padding: px2rem(10) px2rem(12);\a 39 \2502  \2502                      border: none;\a 40 \2502  \2502                      font-size: px2rem(16);\a 41 \2502  \2502                      line-height: 1;\a 42 \2502  \2502                      color: $input-tab-input-color;\a 43 \2502  \2502                  }\a 44 \2502  \2502              }\a 45 \2502  \2502  \a 46 \2502  \2502              &--tabItems{\a 47 \2502  \2502                  display: flex;\a 48 \2502  \2502                  justify-content: space-between;\a 49 \2502  \2502                  overflow-x: auto;\a 50 \2502  \2502                  padding: px2rem(10) 0;\a 51 \2502  \2502                  &--item{\a 52 \2502  \2502                      border: px2rem(1) solid $first-accent-color;\a 53 \2502  \2502                      box-shadow: 0 0 px2rem(10) rgba(56, 56, 56, 0.2);\a 54 \2502  \2502                      display: inline-flex;\a 55 \2502  \2502                      align-items: center;\a 56 \2502  \2502                      justify-content: center;\a 57 \2502  \2502                      padding: px2rem(10) px2rem(12);\a 58 \2502  \2502                      border-radius: px2rem(19);\a 59 \2502  \2502                      background-color: $default-light-color;\a 60 \2502  \2502                      cursor: pointer;\a 61 \2502  \2502                      line-height: 1;\a 62 \2502  \2502                      font-size: px2rem(16);\a 63 \2502  \2502                      white-space: nowrap;\a 64 \2502  \2502                      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;\a 65 \2502  \2502                      &.active, &:hover{\a 66 \2502  \2502                          background-color: $first-accent-color;\a 67 \2502  \2502                          color: $default-light-color;\a 68 \2502  \2502                      }\a 69 \2502  \2502                      &:not(:last-child){\a 70 \2502  \2502                          margin-right: px2rem(10);\a 71 \2502  \2502                      }\a 72 \2502  \2502                  }\a 73 \2502  \2502              }\a 74 \2502  \2502  \a 75 \2502  \2502          }\a 76 \2502  \2502  \a 77 \2502  \2502          &__row{\a 78 \2502  \2502              display: none;\a 79 \2502  \2502              &.active{\a 80 \2502  \2502                  display: flex;\a 81 \2502  \2502              }\a 82 \2502  \2502          }\a 83 \2502  \2502  \a 84 \2502  \2502          &__title{\a 85 \2502  \2502              margin: px2rem(10) 0 px2rem(30) 0;\a 86 \2502  \2502          }\a 87 \2502  \2502  \a 88 \2502  \2502      }\a 89 \2502  \2502  \a 90 \2502  \2514  }\a    \2575 \a   tabSearch.scss 1:1  root stylesheet";
}
