.button{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: $first-accent-color;
	border-radius: px2rem(9);
	color: $default-light-color;
	padding-top: px2rem(11);
	padding-bottom: px2rem(11);
	font-size: px2rem(12);
	line-height: px2rem(14.4);
	position: relative;

	& > .label{
		display: flex;
		align-items: center;
		font-size: px2rem(14);
		line-height: px2rem(16.8);
		position: absolute;
		right: px2rem(-35);
		top: px2rem(-10);
		font-family: "SF Pro Text Medium";
		background-color: #ffffff;
		box-shadow: $label-box-shadow;
		border-radius: px2rem(8);
		transform: rotate(6.11deg);
		text-transform: none;
		padding: px2rem(5);

		&::before{
			content: "";
			border-radius: px2rem(3);
			width: px2rem(8);
			height: px2rem(8);
			background-color: red;
			margin-right: px2rem(3);
		}
	}

	&.open > .label::before{
		background-color: $green-label-bg;
	}

	&.close > .label::before{
		background-color: $red-label-bg;
	}

	&.open > .label > span{
		background: $green-gradient;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	&.close > .label > span{
		background: $red-gradient;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

}

.button.btn-border{
	background-color: $default-light-color;
	border: px2rem(1) solid $first-accent-color;
	color: $green-light-transparent;
	font-size: px2rem(20);
	line-height: px2rem(24);
	font-family: 'SF Pro Text Bold';
	padding: px2rem(5) px2rem(10);
	text-transform: uppercase;
	width: fit-content;
	span{
		color: $green-light;
	}
}