$color-text-primary: #141414;
$color-text-secondary: rgba(0, 0, 0, 0.7);
$color-onbg: rgba(247, 247, 242, 1);
$color-darkGray: rgba(50, 50, 50, 1);
$text-color: rgba(0, 0, 0, 1);
$default-light-color: #ffffff;
$header-box-shadow: 0px 0px 4.599999904632568px 0px rgba(0, 0, 0, 0.25);
$first-accent-color: #98B23D;
$green-gradient-left: rgba(87, 203, 175, 1);
$green-gradient: linear-gradient(90deg, #57CBAF 32.03%, #2FA84F 68.33%);
$red-gradient:linear-gradient(90deg, #CB6557 32.03%, #F69285 68.33%);
$green-label-bg: rgba(87, 203, 175, 1);
$red-label-bg: rgba(207, 105, 91, 1);
$label-box-shadow: px2rem(0) px2rem(0) px2rem(4) px2rem(0) rgba(0, 0, 0, 0.1);
$default-overlay: rgba(0, 0, 0, 0.7);
$body-bg-color: #FFFFFC;
$color-text-light: rgba(103, 103, 103, 1);
$default-cian: rgba(61, 134, 138, 1);
$text-cian: rgba(114, 128, 149, 1);
$gray-border-color: rgba(219, 223, 225, 1);
$cards-gradient: linear-gradient(0deg, #FFFFFF, #FFFFFF);
$green-accent-color: rgba(142, 168, 53, 1);
$title-color: rgba(28, 28, 28, 1);
$title-gradient: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
$list-color: rgba(107, 107, 107, 1);
$light-box-color: rgba(229, 229, 229, 1);
$tabs-gradient: linear-gradient(180deg, rgba(235, 249, 187, 0) 0%, #EBF9BB 50%, rgba(235, 249, 187, 0) 100%);
$tab-box-shadow: px2rem(-10) px2rem(10) px2rem(27.600000381469727) 0 rgba(0, 0, 0, 0.1);
$green-light: rgba(152, 178, 61, 1);
$green-light-transparent: rgba(152, 178, 61, 0.6);
$team-card-bg: linear-gradient(120.19deg, rgba(0, 0, 0, 0.3483) 0%, rgba(0, 0, 0, 0.81) 100%);
$team-box-shadow: 0 px2rem(2) px2rem(4) rgba(0, 0, 0, 0.1);
$card-text-color: rgba(171, 171, 171, 1);
$card-hover-bg: rgba(251, 250, 250, 1);
$services-card-text-color: rgba(132, 132, 132, 1);
$services-card-before-color: rgba(252, 243, 215, 1);
$green-label-color: rgba(28, 177, 43, 1);
$yellow-label-color: rgba(193, 168, 36, 1);
$green-label-text: rgba(187, 255, 194, 1);
$yellow-label-text: rgba(255, 238, 151, 1);
$green-label-marker: rgba(0, 255, 26, 1);
$yellow-label-marker: rgba(255, 214, 0, 1);
$input-text-color: rgba(125, 125, 125, 0.7);
$reviews-subtitle-color: rgba(214, 33, 33, 1);
$review-item-drop-shadow: 0px 0px 8.699999809265137px 3px rgba(0, 0, 0, 0.15);
$review-item-circle-1-drop-shadow: 0px 0px 4.5px 0px rgba(0, 0, 0, 0.25);
$review-item-circle-2-drop-shadow: 0px 0px 4.5px 2px rgba(0, 0, 0, 0.25);
$review-item-name-color: rgba(67, 67, 67, 1);
$review-item-date-color: rgba(127, 127, 127, 1);
$review-item-grade-text-color: rgba(144, 206, 64, 1);
$review-item-green-text: rgba(47, 168, 79, 1);
$review-label-box-shadow: 0px 0px 4.400000095367432px 0px rgba(0, 0, 0, 0.25);
$review-item-red-text: rgba(224, 80, 80, 1);
$footer-bg: rgba(243, 243, 243, 1);
$footer-subtitle-color: rgba(0, 0, 0, 0.6);
$footer-card-box-shadow: 0px 0px 4px 0px rgba(84, 84, 84, 0.25);
$footer-h4-color: rgba(120, 144, 156, 1);
$footer-card-text-color: rgba(108, 108, 108, 1);
$footer-card-link-color: rgba(98, 117, 154, 1);
$footer-button-box-shadow: 0px 0px 28.299999237060547px 8px rgba(0, 0, 0, 0.25);
$old-price-color: rgba(216, 216, 216, 1);
$price-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
