@import "grid/init";
@import "variables";
@import "fonts";

body{
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'SF Pro Text Regular';
  color: $text-color;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $first-accent-color;
  border-radius: px2rem(9);
  color: $default-light-color;
  padding-top: px2rem(11);
  padding-bottom: px2rem(11);
  font-size: px2rem(12);
  line-height: px2rem(14.4);
}


@import "debug";
@import "sections/header";
@import "sections/intro";
@import "sections/achievements";


