@charset "UTF-8";
.wrapper, .wrapper > * {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 76.25rem;
  max-width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.container-big {
  margin: 0 auto;
  width: 115rem;
  max-width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  width: 100%;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: calc(8.3333333333% - 1.25rem);
}

.col-2 {
  flex: 0 0 auto;
  width: calc(16.6666666667% - 1.25rem);
}

.col-3 {
  flex: 0 0 auto;
  width: calc(25% - 1.25rem);
}

.col-4 {
  flex: 0 0 auto;
  width: calc(33.3333333333% - 1.25rem);
}

.col-5 {
  flex: 0 0 auto;
  width: calc(41.6666666667% - 1.25rem);
}

.col-6 {
  flex: 0 0 auto;
  width: calc(50% - 1.25rem);
}

.col-7 {
  flex: 0 0 auto;
  width: calc(58.3333333333% - 1.25rem);
}

.col-8 {
  flex: 0 0 auto;
  width: calc(66.6666666667% - 1.25rem);
}

.col-9 {
  flex: 0 0 auto;
  width: calc(75% - 1.25rem);
}

.col-10 {
  flex: 0 0 auto;
  width: calc(83.3333333333% - 1.25rem);
}

.col-11 {
  flex: 0 0 auto;
  width: calc(91.6666666667% - 1.25rem);
}

.col-12 {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
}

@media (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-xs-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-xs {
    display: none !important;
  }
  .flex-xs {
    display: flex !important;
  }
  .block-xs {
    display: block !important;
  }
}
@media (min-width: 36rem) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-sm {
    display: none !important;
  }
  .flex-sm {
    display: flex !important;
  }
  .block-sm {
    display: block !important;
  }
}
@media (min-width: 48rem) {
  .col-md-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-md {
    display: none !important;
  }
  .flex-md {
    display: flex !important;
  }
  .block-md {
    display: block !important;
  }
}
@media (min-width: 62rem) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-lg {
    display: none !important;
  }
  .flex-lg {
    display: flex !important;
  }
  .block-lg {
    display: block !important;
  }
}
@media (min-width: 75rem) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-xl {
    display: none !important;
  }
  .flex-xl {
    display: flex !important;
  }
  .block-xl {
    display: block !important;
  }
}
@media (min-width: 87.5rem) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-xxl {
    display: none !important;
  }
  .flex-xxl {
    display: flex !important;
  }
  .block-xxl {
    display: block !important;
  }
}
.col-fg-1 {
  flex: 0 0 auto;
  width: calc(20% - 1.25rem);
}

.col-fg-2 {
  flex: 0 0 auto;
  width: calc(40% - 1.25rem);
}

.col-fg-3 {
  flex: 0 0 auto;
  width: calc(60% - 1.25rem);
}

.col-fg-4 {
  flex: 0 0 auto;
  width: calc(80% - 1.25rem);
}

.col-fg-5 {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
}

@media (min-width: 0) {
  .col-fg-xs-1 {
    flex: 0 0 auto;
    width: calc(20% - 1.25rem);
  }
  .col-fg-xs-2 {
    flex: 0 0 auto;
    width: calc(40% - 1.25rem);
  }
  .col-fg-xs-3 {
    flex: 0 0 auto;
    width: calc(60% - 1.25rem);
  }
  .col-fg-xs-4 {
    flex: 0 0 auto;
    width: calc(80% - 1.25rem);
  }
  .col-fg-xs-5 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-fg-xs {
    display: none !important;
  }
  .flex-fg-xs {
    display: flex !important;
  }
  .block-fg-xs {
    display: block !important;
  }
}
@media (min-width: 36rem) {
  .col-fg-sm-1 {
    flex: 0 0 auto;
    width: calc(20% - 1.25rem);
  }
  .col-fg-sm-2 {
    flex: 0 0 auto;
    width: calc(40% - 1.25rem);
  }
  .col-fg-sm-3 {
    flex: 0 0 auto;
    width: calc(60% - 1.25rem);
  }
  .col-fg-sm-4 {
    flex: 0 0 auto;
    width: calc(80% - 1.25rem);
  }
  .col-fg-sm-5 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-fg-sm {
    display: none !important;
  }
  .flex-fg-sm {
    display: flex !important;
  }
  .block-fg-sm {
    display: block !important;
  }
}
@media (min-width: 48rem) {
  .col-fg-md-1 {
    flex: 0 0 auto;
    width: calc(20% - 1.25rem);
  }
  .col-fg-md-2 {
    flex: 0 0 auto;
    width: calc(40% - 1.25rem);
  }
  .col-fg-md-3 {
    flex: 0 0 auto;
    width: calc(60% - 1.25rem);
  }
  .col-fg-md-4 {
    flex: 0 0 auto;
    width: calc(80% - 1.25rem);
  }
  .col-fg-md-5 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-fg-md {
    display: none !important;
  }
  .flex-fg-md {
    display: flex !important;
  }
  .block-fg-md {
    display: block !important;
  }
}
@media (min-width: 62rem) {
  .col-fg-lg-1 {
    flex: 0 0 auto;
    width: calc(20% - 1.25rem);
  }
  .col-fg-lg-2 {
    flex: 0 0 auto;
    width: calc(40% - 1.25rem);
  }
  .col-fg-lg-3 {
    flex: 0 0 auto;
    width: calc(60% - 1.25rem);
  }
  .col-fg-lg-4 {
    flex: 0 0 auto;
    width: calc(80% - 1.25rem);
  }
  .col-fg-lg-5 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-fg-lg {
    display: none !important;
  }
  .flex-fg-lg {
    display: flex !important;
  }
  .block-fg-lg {
    display: block !important;
  }
}
@media (min-width: 75rem) {
  .col-fg-xl-1 {
    flex: 0 0 auto;
    width: calc(20% - 1.25rem);
  }
  .col-fg-xl-2 {
    flex: 0 0 auto;
    width: calc(40% - 1.25rem);
  }
  .col-fg-xl-3 {
    flex: 0 0 auto;
    width: calc(60% - 1.25rem);
  }
  .col-fg-xl-4 {
    flex: 0 0 auto;
    width: calc(80% - 1.25rem);
  }
  .col-fg-xl-5 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-fg-xl {
    display: none !important;
  }
  .flex-fg-xl {
    display: flex !important;
  }
  .block-fg-xl {
    display: block !important;
  }
}
@media (min-width: 87.5rem) {
  .col-fg-xxl-1 {
    flex: 0 0 auto;
    width: calc(20% - 1.25rem);
  }
  .col-fg-xxl-2 {
    flex: 0 0 auto;
    width: calc(40% - 1.25rem);
  }
  .col-fg-xxl-3 {
    flex: 0 0 auto;
    width: calc(60% - 1.25rem);
  }
  .col-fg-xxl-4 {
    flex: 0 0 auto;
    width: calc(80% - 1.25rem);
  }
  .col-fg-xxl-5 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
  .hide-fg-xxl {
    display: none !important;
  }
  .flex-fg-xxl {
    display: flex !important;
  }
  .block-fg-xxl {
    display: block !important;
  }
}
.jcc {
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding: 0;
  left: 0;
}
ul li, ol li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

@font-face {
  font-family: "Izhitsa";
  src: url("../fonts/Izhitsa.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Light";
  src: url("../fonts/sfpro/SFProText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Regular";
  src: url("../fonts/sfpro/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Medium";
  src: url("../fonts/sfpro/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Semibold";
  src: url("../fonts/sfpro/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Bold";
  src: url("../fonts/sfpro/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Heavy";
  src: url("../fonts/sfpro/SFProText-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
.ff-izhitsa {
  font-family: "Izhitsa";
}

.h1, .h2 {
  font-family: "Izhitsa";
  background-image: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h1 > span, .h2 > span {
  color: #98B23D;
}

@media (min-width: 0) {
  .h1 {
    font-size: 3.125rem;
    line-height: 3.149375rem;
  }
  .h2 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 62rem) {
  .h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .h1 {
    font-size: 3.4375rem;
    line-height: 4.125rem;
  }
}
body {
  font-size: 1rem;
  line-height: 1.2;
  font-family: "SF Pro Text Regular";
  color: rgb(0, 0, 0);
  background-color: #FFFFFC;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #98B23D;
  border-radius: 0.5625rem;
  color: #ffffff;
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  font-size: 0.75rem;
  line-height: 0.9rem;
  position: relative;
}
.button > .label {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.05rem;
  position: absolute;
  right: -2.1875rem;
  top: -0.625rem;
  font-family: "SF Pro Text Medium";
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transform: rotate(6.11deg);
  text-transform: none;
  padding: 0.3125rem;
}
.button > .label::before {
  content: "";
  border-radius: 0.1875rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  margin-right: 0.1875rem;
}
.button.open > .label::before {
  background-color: rgb(87, 203, 175);
}
.button.close > .label::before {
  background-color: rgb(207, 105, 91);
}
.button.open > .label > span {
  background: linear-gradient(90deg, #57CBAF 32.03%, #2FA84F 68.33%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.button.close > .label > span {
  background: linear-gradient(90deg, #CB6557 32.03%, #F69285 68.33%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.button.btn-border {
  background-color: #ffffff;
  border: 0.0625rem solid #98B23D;
  color: rgba(152, 178, 61, 0.6);
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "SF Pro Text Bold";
  padding: 0.3125rem 0.625rem;
  text-transform: uppercase;
  width: fit-content;
}
.button.btn-border span {
  color: rgb(152, 178, 61);
}

.intro__card--button.open {
  margin-bottom: 20px;
}

@media (min-width: 0) {
  .header {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 4.5999999046px 0px rgba(0, 0, 0, 0.25);
  }
  .header__box {
    display: flex;
    text-decoration: none;
  }
  .header__box--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.625rem;
  }
  .header__box--logo img {
    width: 2.75rem;
    height: 2.75rem;
  }
  .header__box--text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header__box--text--title {
    font-size: 1.125rem;
    line-height: 1.13375rem;
    color: #141414;
  }
  .header__box--text--subtitle {
    font-size: 0.9375rem;
    line-height: 0.73125rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .header__burger {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  .header__burger--icon {
    width: 2.75rem;
    height: 2.75rem;
    background-color: rgb(247, 247, 242);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__burger--icon--line {
    width: 1.25rem;
    height: 0.125rem;
    background-color: rgb(50, 50, 50);
    border-radius: 0.125rem;
    position: relative;
  }
  .header__burger--icon--line::before, .header__burger--icon--line::after {
    content: "";
    width: 1.25rem;
    height: 0.125rem;
    background-color: rgb(50, 50, 50);
    border-radius: 0.125rem;
    position: absolute;
    left: 0;
  }
  .header__burger--icon--line::before {
    top: -0.375rem;
  }
  .header__burger--icon--line::after {
    top: 0.375rem;
  }
  .header__burger--icon--line, .header__burger--icon--line::before, .header__burger--icon--line::after {
    transition: all 0.3s;
  }
  .header__burger--icon.active .header__burger--icon--line {
    background-color: transparent;
  }
  .header__burger--icon.active .header__burger--icon--line::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header__burger--icon.active .header__burger--icon--line::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__nav {
    position: absolute;
    left: -100vw;
    top: 4.25rem;
    transition: left 0.3s, opacity 0.3s;
    opacity: 0;
    box-shadow: 0px 0px 4.5999999046px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.4375rem;
    background-color: #ffffff;
  }
  .header__nav.active {
    opacity: 1;
    left: 0;
    z-index: 999;
  }
  .header__nav--menu {
    width: 100%;
    list-style: none;
    padding: 1.4375rem;
  }
  .header__nav--menu--item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0.1875rem;
  }
  .header__nav--menu--item a {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.044375rem;
    font-family: "SF Pro Text Regular";
    color: rgb(0, 0, 0);
  }
  .header__nav--menu--item span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3125rem;
    width: 0.8125rem;
    height: 0.8125rem;
    background-color: #98B23D;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
  }
}
@media (min-width: 48rem) {
  .header__nav {
    position: static;
    opacity: 1;
    box-shadow: unset;
    top: unset;
    left: unset;
  }
  .header__nav--menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .header__nav--menu--item {
    margin-left: 1.875rem;
  }
  .header__button {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .header__button .button {
    height: fit-content;
    padding-left: 1.25rem;
    padding-right: 1.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__button .button::after {
    content: "";
    display: block;
    width: 0.8125rem;
    height: 0.8125rem;
    background-color: #ffffff;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("../images/check.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-image: url("../images/check.svg");
    margin-left: 0.5rem;
  }
}
@media (min-width: 0) {
  .intro {
    width: 100%;
    padding-top: 6.375rem;
    padding-bottom: 4.75rem;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .intro::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
  }
  .intro > .container > .row {
    align-items: center;
  }
  .intro__title, .intro__card {
    z-index: 2;
  }
  .intro__title > .h1 {
    color: #ffffff;
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
  }
  .intro__card {
    background-color: #ffffff;
    box-shadow: 0px 0px 4.5999999046px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.4375rem;
    padding: 1.4375rem 1.4375rem 2.5625rem 1.4375rem;
  }
  .intro__card > * {
    width: 100%;
    text-align: center;
  }
  .intro__card--map {
    aspect-ratio: 263/170;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.1875rem;
    margin-bottom: 1.1875rem;
    display: flex;
    justify-content: center;
  }
  .intro__card--map::after {
    display: block;
    content: "";
    width: 2.625rem;
    height: 3.6875rem;
    margin-top: 1.1875rem;
    background-image: url("../images/header-map/label.png");
    background-position: center;
  }
  .intro__card--title {
    text-transform: uppercase;
    margin-bottom: 0.625rem;
  }
  .intro__card--text {
    font-family: "SF Pro Text Medium";
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .intro__card--button {
    font-family: "SF Pro Text Heavy";
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 0.9rem;
    position: relative;
  }
}
@media (min-width: 48rem) {
  .intro {
    aspect-ratio: 1920/662;
  }
  .intro--text {
    font-size: 0.875rem;
    line-height: 1.05rem;
    margin-bottom: 1.4375rem;
  }
}
@media (min-width: 0) {
  .achievements {
    padding-top: 5.9375rem;
    padding-bottom: 3.875rem;
    position: relative;
    overflow: hidden;
  }
  .achievements::before {
    content: "";
    position: absolute;
    top: -12%;
    width: 100%;
    aspect-ratio: 936.57/927.45;
    background-repeat: no-repeat;
    background-image: url(../images/achievements-bg.svg);
    background-size: contain;
    background-position: left;
    z-index: 1;
  }
  .achievements > .container > .row {
    align-items: center;
    z-index: 2;
    position: relative;
  }
  .achievements__content {
    display: flex;
    flex-direction: column;
  }
  .achievements__content--title {
    font-size: 3.125rem;
    line-height: 3.578125rem;
    text-align: center;
    margin-bottom: 0.6875rem;
    color: rgb(28, 28, 28);
  }
  .achievements__content--text {
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: rgb(103, 103, 103);
    margin-bottom: 1.4375rem;
  }
  .achievements__content--button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1.6875rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    font-family: "SF Pro Text Bold";
    width: fit-content;
    padding: 0.75rem 1.375rem;
  }
  .achievements__content--button::after {
    content: "";
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    mask-image: url("../images/achievements-button.svg");
    mask-size: contain;
    -webkit-mask-image: url("../images/achievements-button.svg");
    -webkit-mask-size: contain;
    background-color: #ffffff;
    margin-left: 0.6875rem;
  }
  .achievements__list > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .achievements__list > .row > * {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .achievements__list > .row > *:not(:last-child) {
    margin-bottom: 1.3125rem;
  }
  .achievements__list--item {
    width: 100%;
    height: 100%;
    border: 0.125rem solid rgb(61, 134, 138);
    border-radius: 0.875rem;
    padding: 1.5625rem;
  }
  .achievements__list--item--icon {
    height: 3rem;
    width: auto;
    margin-bottom: 1.5rem;
  }
  .achievements__list--item--icon img {
    width: auto;
    height: auto;
  }
  .achievements__list--item--title {
    font-family: "Izhitsa";
    font-size: 1.5625rem;
    line-height: 1.875rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.625rem;
  }
  .achievements__list--item--text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: rgb(114, 128, 149);
  }
}
@media (min-width: 48rem) {
  .achievements::before {
    top: -50%;
    width: 50%;
  }
  .achievements__content--title {
    font-size: 3.125rem;
    line-height: 3.578125rem;
    text-align: left;
  }
  .achievements__content--text {
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }
  .achievements__content--button {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
  .achievements__list > .row {
    justify-content: space-between;
    align-items: stretch;
  }
  .achievements__list > .row > * {
    width: calc(50% - 0.65625rem);
    margin-bottom: 1.3125rem;
  }
  .achievements__list--item--icon {
    height: 3rem;
    width: auto;
    margin-bottom: 1.5rem;
  }
  .achievements__list--item--title {
    font-size: 1.5625rem;
    line-height: 1.875rem;
  }
  .achievements__list--item--text {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 0) {
  .advantages {
    position: relative;
    padding-top: 11rem;
  }
  .advantages::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(235, 249, 187, 0) 0%, #EBF9BB 50%, rgba(235, 249, 187, 0) 100%);
    z-index: -1;
    left: 0;
    top: -15%;
  }
  .advantages > .container {
    z-index: 1;
  }
  .advantages > .container > .row {
    align-items: center;
  }
  .advantages .h1 {
    font-size: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    background: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4rem;
    word-break: break-all;
  }
  .advantages__items--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.9375rem;
    border: 0.125rem solid rgb(219, 223, 225);
    box-shadow: -0.625rem 0.625rem 1.7250000238rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.875rem;
    transition: all 0.3s ease;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    aspect-ratio: 351/182;
  }
  .advantages__items--item:hover, .advantages__items--item.active {
    border-color: rgb(142, 168, 53);
    background: #98B23D;
  }
  .advantages__items--item--icon {
    width: 4.875rem;
    aspect-ratio: 1/1;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: rgb(61, 134, 138);
    margin-top: 3.125rem;
    margin-bottom: 2.125rem;
  }
  .advantages__items--item.active .advantages__items--item--icon, .advantages__items--item:hover .advantages__items--item--icon {
    width: 4.875rem;
    aspect-ratio: 1/1;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: rgb(61, 134, 138);
    background: #ffffff;
  }
  .advantages__content--text {
    display: none;
  }
  .advantages__content--text.active {
    display: flex;
  }
  .advantages__content--text > .row {
    padding: 2.625rem;
  }
  .advantages__content--text > .row > * {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .advantages__content--text .h3 {
    font-family: "Izhitsa";
    font-size: 2.1875rem;
    line-height: 2.1875rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  .advantages__content--text ul {
    color: rgb(229, 229, 229);
  }
  .advantages__content--text ul li {
    display: flex;
    align-items: baseline;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .advantages__content--text ul li::before {
    content: "";
    min-width: 0.5rem;
    aspect-ratio: 1/1;
    background: rgb(229, 229, 229);
    border-radius: 50%;
    margin-right: 0.625rem;
  }
}
@media (min-width: 48rem) {
  .advantages {
    position: relative;
    padding-top: 11rem;
  }
  .advantages::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(235, 249, 187, 0) 0%, #EBF9BB 50%, rgba(235, 249, 187, 0) 100%);
    z-index: -1;
    left: 0;
    top: -15%;
  }
  .advantages > .container {
    z-index: 1;
  }
  .advantages > .container > .row {
    align-items: center;
  }
  .advantages::before {
    aspect-ratio: 2236/1382;
  }
  .advantages > .container > .row {
    align-items: center;
  }
  .advantages__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__items--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.9375rem;
    border: 0.125rem solid rgb(219, 223, 225);
    box-shadow: -0.625rem 0.625rem 1.7250000238rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.875rem;
    transition: all 0.3s ease;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width: calc(50% - 0.90625rem);
    aspect-ratio: 1/1;
    margin-bottom: 1.8125rem;
  }
  .advantages__items--item:hover, .advantages__items--item.active {
    border-color: rgb(142, 168, 53);
    background: #98B23D;
  }
  .advantages__items--item--icon {
    width: 4.875rem;
    aspect-ratio: 1/1;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: rgb(61, 134, 138);
    margin-top: 3.125rem;
    margin-bottom: 2.125rem;
  }
  .advantages__items--item.active--icon, .advantages__items--item:hover--icon {
    width: 4.875rem;
    aspect-ratio: 1/1;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: rgb(61, 134, 138);
    background: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
  }
  .advantages__content {
    padding-left: 3.9375rem;
  }
  .advantages__content .h1 {
    font-size: 3.75rem;
    line-height: 3.8125rem;
    background: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4.25rem;
    word-break: unset;
  }
  .advantages__content--text {
    display: none;
  }
  .advantages__content--text.active {
    display: flex;
  }
  .advantages__content--text > .row {
    padding: 2.625rem;
  }
  .advantages__content--text > .row > * {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .advantages__content--text .h3 {
    font-family: "Izhitsa";
    font-size: 2.1875rem;
    line-height: 2.1875rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  .advantages__content--text ul {
    color: rgb(229, 229, 229);
  }
  .advantages__content--text ul li {
    display: flex;
    align-items: baseline;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .advantages__content--text ul li::before {
    content: "";
    min-width: 0.5rem;
    aspect-ratio: 1/1;
    background: rgb(229, 229, 229);
    border-radius: 50%;
    margin-right: 0.625rem;
  }
  .advantages__content--text .h3 {
    font-size: 2.5rem;
    line-height: 2.5625rem;
    background: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.25rem;
  }
  .advantages__content--text ul {
    color: rgb(107, 107, 107);
  }
  .advantages__content--text ul li {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .advantages__content--text ul li::before {
    background: rgb(107, 107, 107);
  }
}
.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel__slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: 0 -0.625rem;
}
.carousel__slide {
  margin: 0 0.625rem;
}
.carousel__button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--light);
  color: #98B23D;
  top: calc(50% - 1.25rem);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 4.5999999046px 0px rgba(0, 0, 0, 0.25);
}
.carousel__button--left {
  left: 0;
}
.carousel__button--right {
  right: 0;
}
.carousel__indicators {
  margin-top: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
}
.carousel__indicator {
  width: 0.78125rem;
  height: 0.78125rem;
  aspect-ratio: 1/1;
  background-color: rgb(103, 103, 103);
  margin: 0 0.78125rem;
  border-radius: 50%;
}
.carousel__indicator--active {
  background-color: #98B23D;
}

@media (min-width: 0) {
  .team {
    padding-top: 3.875rem;
    margin-bottom: 4.5625rem;
  }
  .team__content--title {
    font-size: 3.125rem;
    line-height: 3.1875rem;
    text-align: center;
    background: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.25rem;
  }
  .team__content--text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
    color: rgb(107, 107, 107);
    margin-bottom: 2.5rem;
  }
  .team__button {
    margin-top: 2.75rem;
  }
  .team__list .carousel__slides {
    flex-wrap: nowrap;
  }
  .team__list--card {
    width: 50%;
    aspect-ratio: 268/467;
    border-radius: 1.5625rem;
    background-position: center;
    background-size: cover;
  }
  .team__list--card--content {
    display: none;
  }
}
@media (min-width: 62rem) {
  .team {
    margin-bottom: 7.3125rem;
  }
  .team > .container > .row {
    align-items: center;
  }
  .team__content--title {
    font-size: 3.75rem;
    line-height: 3.8125rem;
    text-align: left;
  }
  .team__list {
    aspect-ratio: 604/655;
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .team__list .grid-container {
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);
    gap: 0.625rem;
    width: 100%;
    height: 100%;
  }
  .team__list--card {
    background-color: #fff;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    aspect-ratio: unset;
    width: auto;
    margin: unset;
    overflow: hidden;
    padding: 0;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .team__list--card--content {
    position: absolute;
    top: -100%;
    transition: top 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    background: linear-gradient(120.19deg, rgba(0, 0, 0, 0.3483) 0%, rgba(0, 0, 0, 0.81) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.75rem 1.125rem;
  }
  .team__list--card--content--title {
    font-family: "SF Pro Text Bold";
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0.3125rem;
  }
  .team__list--card--content--text {
    font-size: 0.75rem;
    line-height: 0.895rem;
    color: rgb(171, 171, 171);
    margin-bottom: 0.3125rem;
  }
  .team__list--card--content--button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Text Bold";
    width: fit-content;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.5625rem;
    color: #ffffff;
    padding: 0.625rem 0.3125rem;
    font-size: 0.625rem;
    line-height: 0.75rem;
    border: 0.125rem solid #ffffff;
  }
  .team__list--card:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  .team__list--card:hover .team__list--card--content {
    top: 0;
  }
  .team__list .card-1 {
    grid-column: 18/1;
    grid-row: 14/24;
  }
  .team__list .card-2 {
    grid-column: 8/18;
    grid-row: 1/14;
  }
  .team__list .card-3 {
    grid-column: 18/33;
    grid-row: 24/5;
  }
  .team__list .card-4 {
    grid-column: 33/48;
    grid-row: 1/8;
  }
  .team__list .card-5 {
    grid-column: 48/33;
    grid-row: 24/8;
  }
  .team__list .card-6 {
    grid-column: 1/14;
    grid-row: 40/24;
  }
  .team__list .card-7 {
    grid-column: 14/28;
    grid-row: 32/24;
  }
  .team__list .card-8 {
    grid-column: 14/28;
    grid-row: 32/48;
  }
  .team__list .card-9 {
    grid-column: 28/48;
    grid-row: 36/24;
  }
  .team__list .card-10 {
    grid-column: 35/28;
    grid-row: 36/46;
  }
  .team__list .card-11 {
    grid-column: 48/35;
    grid-row: 48/36;
  }
}
@media (min-width: 0) {
  .services__title {
    text-align: center;
    margin-bottom: 3.8125rem;
  }
  .services__list {
    justify-content: center;
  }
  .services__list--item {
    width: calc(100% - 4.0625rem);
    position: relative;
    margin-bottom: 1.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0.75rem;
  }
  .services__list--item > *:not(.services__list--item::before, .services__list--item::after) {
    text-align: center;
    z-index: 1;
  }
  .services__list--item--icon {
    width: 100%;
    height: 4.375rem;
    margin-bottom: 0.625rem;
    background-color: rgb(61, 134, 138);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    position: relative;
  }
  .services__list--item--title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.625rem;
    text-align: center;
  }
  .services__list--item--text {
    font-size: 0.8125rem;
    line-height: 1rem;
    color: rgb(132, 132, 132);
    letter-spacing: 0.03em;
    text-align: center;
  }
  .services__list--item::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    position: absolute;
    z-index: -1;
    background-color: rgb(251, 250, 250);
    border-radius: 1.875rem;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .services__list--item::after {
    content: "";
    width: 100%;
    top: 1.5625rem;
    height: 4.0625rem;
    display: block;
    position: absolute;
    mask-image: url("../images/services-card-icon-before.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url("../images/services-card-icon-before.svg");
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    background-color: rgb(252, 243, 215);
    z-index: -1;
  }
  .services__list--item:hover::before {
    opacity: 1;
    transform: rotate(-5deg);
  }
  .services__button.button.btn-border {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0.3125rem;
    margin-top: 3.75rem;
    margin-bottom: 4.5625rem;
  }
}
@media (min-width: 48rem) {
  .services__title {
    margin-bottom: 4.25rem;
  }
  .services__list--item {
    width: calc(20% - 1.25rem);
  }
  .services__button {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 0) {
  .consult__title {
    font-size: 1.875rem;
    line-height: 1.875rem;
    margin-bottom: 4.375rem;
    text-align: center;
  }
  .consult__content--form--box--labels {
    display: flex;
    flex-direction: column;
  }
  .consult__content--form--box--labels--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem 0.3125rem;
    border-radius: 0.375rem;
    font-family: "SF Pro Text Heavy";
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: fit-content;
  }
  .consult__content--form--box--labels--item.green {
    background-color: rgb(28, 177, 43);
    color: rgb(187, 255, 194);
    margin-bottom: 0.375rem;
  }
  .consult__content--form--box--labels--item.green:after {
    display: inline;
    content: "";
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    background-color: rgb(0, 255, 26);
    margin-left: 0.4375rem;
  }
  .consult__content--form--box--labels--item.yellow {
    background-color: rgb(193, 168, 36);
    color: rgb(255, 238, 151);
  }
  .consult__content--form--box--labels--item.yellow span {
    font-family: "SF Pro Text Bold";
    margin-left: 0.25rem;
    color: rgb(255, 214, 0);
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1;
  }
  .consult__content--form--box--input {
    display: flex;
    flex-direction: column;
  }
  .consult__content--form--box--input--phone {
    width: 100%;
    outline: none;
    border: 0.0625rem solid rgb(0, 0, 0);
    border-radius: 0.5625rem;
    padding: 1.25rem 2.75rem;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    font-family: "SF Pro Text Light";
    color: rgba(125, 125, 125, 0.7);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .consult__content--form--box--input--button {
    padding: 0.75rem 2.0625rem;
    font-size: 1.125rem;
    line-height: 1.35rem;
    font-family: "SF Pro Text Bold";
    width: fit-content;
    text-transform: uppercase;
    align-self: end;
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 48rem) {
  .consult {
    margin-bottom: 7.5rem;
  }
  .consult__title {
    font-size: 3.75rem;
    line-height: 3.78125rem;
    text-transform: uppercase;
    margin-bottom: 7.0625rem;
  }
  .consult__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 4.375rem 0;
  }
  .consult__content::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: 0.0625rem solid rgb(0, 0, 0);
    border-radius: 4.375rem;
    top: 0;
    left: 0;
    z-index: -2;
    transform: scale(0.9);
  }
  .consult__content > *:not(.consult__content::before, .consult__content::after) {
    z-index: 1;
  }
  .consult__content--title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .consult__content--title .h2 {
    display: flex;
    max-width: 28.125rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(267.39deg, #000000 4.5%, #4F4F4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .consult__content--form--box--labels {
    flex-direction: row;
  }
  .consult__content--form--box--labels--item.green {
    margin-bottom: 0;
    margin-right: 0.3125rem;
  }
  .consult__content--form--box--input {
    margin-top: 0.375rem;
    flex-direction: row;
    justify-content: space-between;
    border: 0.0625rem solid rgb(0, 0, 0);
    border-radius: 0.5625rem;
    position: relative;
  }
  .consult__content--form--box--input > *:not(.consult__content--form--box--input::before) {
    z-index: 1;
  }
  .consult__content--form--box--input::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background-color: #FFFFFC;
    z-index: -1;
  }
  .consult__content--form--box--input--phone {
    border: none;
    padding: 0 0.625rem;
  }
  .consult__content--form--box--input--button {
    margin: 0.625rem;
    align-self: center;
  }
}
@media (min-width: 0) {
  .reviews {
    display: none;
  }
}
@media (min-width: 48rem) {
  .reviews {
    display: block;
    position: relative;
  }
  .reviews::before {
    content: "";
    display: block;
    position: absolute;
    width: 25%;
    aspect-ratio: 1/1;
    bottom: 0;
    transform: scale(-1, 1);
    right: 0;
    z-index: -1;
    background-image: url("../images/achievements-bg.svg");
    opacity: 0.7;
  }
  .reviews > section {
    width: 100%;
  }
  .reviews__title {
    margin-bottom: 2.6875rem;
  }
  .reviews__title--box {
    text-transform: uppercase;
    text-align: center;
  }
  .reviews__title--box--subtitle {
    color: rgb(0, 0, 0);
    font-size: 1.875rem;
    line-height: 2.1875rem;
    font-family: "SF Pro Text Medium";
  }
  .reviews__title--box--subtitle span {
    color: rgb(214, 33, 33);
  }
  .reviews__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7.5rem;
  }
  .reviews__box .container-big {
    overflow-x: hidden;
    width: 107.5rem;
  }
  .reviews__box--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.0625rem solid rgb(0, 0, 0);
    cursor: pointer;
  }
  .reviews__box--arrow::before {
    content: "";
    display: block;
    width: 0.625rem;
    height: 100%;
    mask-image: url("../images/reviews/arrow.svg");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../images/reviews/arrow.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
  }
  .reviews__box--arrow.right {
    transform: rotate(180deg);
  }
  .reviews__box--row {
    padding-top: 1.25rem;
    min-width: 100vw;
    flex-wrap: nowrap;
  }
  .reviews__box--row--item {
    display: inline-flex;
    flex-direction: column;
    min-width: 38.375rem;
  }
  .reviews__box--row--item--text {
    display: flex;
    border-radius: 1.125rem;
    height: 10.625rem;
    box-shadow: 0px 0px 8.6999998093px 3px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 1.8125rem 1.8125rem 2.625rem 1.8125rem;
    position: relative;
  }
  .reviews__box--row--item--text::before, .reviews__box--row--item--text::after {
    content: "";
    display: block;
    aspect-ratio: 1/1;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .reviews__box--row--item--text::before {
    width: 2.25rem;
    height: 2.25rem;
    bottom: -0.875rem;
    left: 5.75rem;
    box-shadow: 0px 0px 4.5px 0px rgba(0, 0, 0, 0.25);
  }
  .reviews__box--row--item--text::after {
    width: 1.125rem;
    height: 1.125rem;
    bottom: -2.125rem;
    left: 5rem;
    box-shadow: 0px 0px 4.5px 2px rgba(0, 0, 0, 0.25);
  }
  .reviews__box--row--item--text--content {
    font-size: 1rem;
    line-height: 1.42rem;
    color: rgb(0, 0, 0);
  }
  .reviews__box--row--item--text--content::before {
    display: inline;
    content: "“";
  }
  .reviews__box--row--item--text--content::after {
    display: inline;
    content: "“";
  }
  .reviews__box--row--item--author {
    margin-top: 1.75rem;
    display: flex;
    align-items: center;
  }
  .reviews__box--row--item--author--photo {
    width: 4.125rem;
    height: 4.125rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1.4375rem;
  }
  .reviews__box--row--item--author--photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .reviews__box--row--item--author--desc {
    display: flex;
    flex-direction: column;
    margin-left: 0.9375rem;
  }
  .reviews__box--row--item--author--desc--name {
    font-family: "SF Pro Text Semibold";
    font-size: 1.25rem;
    line-height: 1.775rem;
    color: rgb(67, 67, 67);
  }
  .reviews__box--row--item--author--desc--date {
    font-family: "SF Pro Text Medium";
    font-size: 1rem;
    line-height: 1.42rem;
    color: rgb(127, 127, 127);
  }
  .reviews__box--row--item--author--grade {
    margin-left: 0.6875rem;
  }
  .reviews__box--row--item--author--grade--text {
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.42rem;
    font-family: "SF Pro Text Heavy";
    color: rgb(144, 206, 64);
  }
  .reviews__box--row--item--author--grade--text::before {
    content: "";
    display: inline-flex;
    background-color: rgb(144, 206, 64);
    width: 1.125rem;
    height: 1.125rem;
    aspect-ratio: 1/1;
    mask-image: url("../images/reviews/star.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("../images/reviews/star.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    margin-right: 0.25rem;
  }
  .reviews__box--row--item.green > .reviews__box--row--item--text, .reviews__box--row--item.green > .reviews__box--row--item--text::before, .reviews__box--row--item.green > .reviews__box--row--item--text::after {
    background-color: rgb(47, 168, 79);
  }
  .reviews__box--row--item.green > .reviews__box--row--item--text::before, .reviews__box--row--item.red > .reviews__box--row--item--text::before {
    box-shadow: unset;
  }
  .reviews__box--row--item.green > .reviews__box--row--item--text > .reviews__box--row--item--text--label {
    position: absolute;
    border-radius: 0.375rem;
    padding: 0.25rem 0.3125rem;
    transform: rotate(9deg);
    background-color: #ffffff;
    box-shadow: 0px 0px 4.4000000954px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.03em;
    font-size: 0.625rem;
    line-height: 1rem;
    font-family: "SF Pro Text Heavy";
    text-transform: uppercase;
    text-align: center;
    color: rgb(47, 168, 79);
    top: 0rem;
    right: -0.9375rem;
  }
  .reviews__box--row--item.green > .reviews__box--row--item--text > .reviews__box--row--item--text--content, .reviews__box--row--item.red > .reviews__box--row--item--text > .reviews__box--row--item--text--content {
    color: #ffffff;
  }
  .reviews__box--row--item.mw301 {
    min-width: 18.8125rem;
    max-width: 18.8125rem;
  }
  .reviews__box--row--item.red > .reviews__box--row--item--text, .reviews__box--row--item.red > .reviews__box--row--item--text::before, .reviews__box--row--item.red > .reviews__box--row--item--text::after {
    background-color: rgb(224, 80, 80);
  }
  .reviews__box--row--item.red > .reviews__box--row--item--author > .reviews__box--row--item--author--grade > .reviews__box--row--item--author--grade--text::before {
    background-color: rgb(224, 80, 80);
  }
  .reviews__box--row--item.red > .reviews__box--row--item--author > .reviews__box--row--item--author--grade > .reviews__box--row--item--author--grade--text {
    color: rgb(224, 80, 80);
  }
}
@media (min-width: 0) {
  .footer {
    background-color: rgb(243, 243, 243);
    padding: 3.5rem 0rem 2.875rem 0rem;
  }
  .footer__content {
    justify-content: center;
  }
  .footer__content--hero {
    justify-content: center;
  }
  .footer__content--hero * {
    text-align: center;
  }
  .footer__content--hero--image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 6.4375rem;
    aspect-ratio: 1/1;
    border-radius: 1.5625rem;
    background-color: rgb(152, 178, 61);
    margin-bottom: 2.375rem;
  }
  .footer__content--hero--image img {
    max-width: 5.125rem;
    max-height: 5.125rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .footer__content--text {
    margin-bottom: 1.4375rem;
  }
  .footer__content--text--title {
    font-size: 3.125rem;
    line-height: 3.149375rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.3125rem;
    text-transform: uppercase;
  }
  .footer__content--text--desc {
    font-size: 1.6875rem;
    line-height: 1.875rem;
    color: rgba(0, 0, 0, 0.6);
    text-transform: lowercase;
  }
  .footer__content--cards {
    margin: 0;
    padding: 0 2rem;
    align-items: flex-start;
  }
  .footer__content--cards--item {
    width: 100%;
    height: 100%;
    border-radius: 0.6875rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(84, 84, 84, 0.25);
    padding: 1.5625rem 1.5625rem 0.6875rem 1.5625rem;
    margin-bottom: 0.6875rem;
  }
  .footer__content--cards--item > .h4 {
    font-family: "SF Pro Text Bold";
    font-size: 0.75rem;
    line-height: 0.895rem;
    letter-spacing: -0.011em;
    color: rgb(120, 144, 156);
    text-transform: uppercase;
    margin-bottom: 0.875rem;
  }
  .footer__content--cards--item > ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 0.9375rem;
  }
  .footer__content--cards--item > ul li {
    margin-bottom: 1.125rem;
  }
  .footer__content--cards--item > ul, .footer__content--cards--item > p {
    color: rgb(108, 108, 108);
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: -0.011em;
  }
  .footer__content--cards--item > p {
    margin-bottom: 1.125rem;
  }
  .footer__content--cards--item a {
    color: rgb(98, 117, 154);
  }
  .footer__content--cards--item a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 48rem) {
  .footer__content--hero--image {
    width: 8.5625rem;
    height: 8.5625rem;
    margin-bottom: 3.125rem;
    max-width: unset;
  }
  .footer__content--hero--image img {
    max-width: 6.8125rem;
    max-height: 6.8125rem;
  }
  .footer__content--text {
    padding-left: 1.875rem;
  }
  .footer__content--text > * {
    text-align: left;
  }
  .footer__content--text--title {
    font-size: 3.125rem;
    line-height: 3.149375rem;
    margin-bottom: 0.3125rem;
  }
  .footer__content--text--desc {
    font-size: 2.5rem;
    line-height: 2.25rem;
  }
  .footer__map {
    padding-left: 4.375rem;
    padding-top: 3.125rem;
    aspect-ratio: 465.55/411.35;
  }
  .footer__map--image {
    aspect-ratio: 455.8/401.89;
    position: relative;
  }
  .footer__map--image > *:not(.footer__map--image::before, .footer__map--image::after) {
    z-index: 2;
  }
  .footer__map--image, .footer__map--image::before, .footer__map--image::after {
    border-radius: 1rem;
    border: 0.0625rem solid rgb(0, 0, 0);
  }
  .footer__map--image::before, .footer__map--image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .footer__map--image::before {
    top: -0.625rem;
    left: -0.625rem;
  }
  .footer__map--image::after {
    top: -1.25rem;
    left: -1.25rem;
  }
  .footer__map--image--inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../images/footer-map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    border-radius: 1rem;
  }
  .footer__map--image--inner::after {
    content: "";
    position: absolute;
    aspect-ratio: 42/59;
    width: 3.75rem;
    background-image: url("../images/header-map/label.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    top: 24%;
    left: 53%;
  }
  .footer__map--image--inner .button {
    margin-bottom: 1.875rem;
    box-shadow: 0px 0px 28.2999992371px 8px rgba(0, 0, 0, 0.25);
    padding: 0.6875rem 6.25rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 0.9rem;
    font-family: "SF Pro Text Heavy";
  }
}
@media (min-width: 0) {
  .oneService {
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
    position: relative;
  }
  .oneService > *:not(.oneService::before) {
    z-index: 1;
  }
  .oneService::before {
    content: "";
    display: block;
    z-index: -1;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../images/achievements-bg.svg");
    transform: scale(1, -1);
    opacity: 0.7;
  }
  .oneService::before {
    width: 50%;
  }
  .oneService__content > div {
    width: 100%;
  }
  .oneService__content--image {
    aspect-ratio: 352/233;
    border-radius: 1.375rem;
    overflow: hidden;
    margin-bottom: 1.125rem;
  }
  .oneService__content--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .oneService__content--price {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }
  .oneService__content--price--text {
    padding: 0.375rem 0.9375rem;
    border-radius: 0.5rem;
    width: fit-content;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    font-family: "SF Pro Text Bold";
  }
  .oneService__content--price--text > .new {
    font-size: 1.25rem;
    line-height: 0.275rem;
    background: linear-gradient(90deg, #57CBAF 32.03%, #2FA84F 68.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .oneService__content--price--text > .old {
    font-size: 1rem;
    line-height: 0.275rem;
    color: rgb(216, 216, 216);
    text-decoration: line-through;
  }
  .oneService__content--title {
    margin-bottom: 1.25rem;
  }
  .oneService__content--title--text {
    font-size: 2.1875rem;
    line-height: 2.204375rem;
  }
  .oneService__content--text {
    margin-bottom: 1.5625rem;
  }
  .oneService__content--text > p {
    font-size: 1.5625rem;
    line-height: 1.78875rem;
    color: rgb(103, 103, 103);
  }
  .oneService__content--text > p + p {
    margin-top: 0.9375rem;
  }
  .oneService__content--info--title {
    font-size: 2.1875rem;
    line-height: 2.204375rem;
    margin-bottom: 1.3125rem;
  }
  .oneService__content--info--list--item {
    display: flex;
    font-size: 1.5625rem;
    line-height: 1.78875rem;
    color: rgb(103, 103, 103);
    margin-bottom: 1.8125rem;
  }
  .oneService__content--info--list--item:last-child {
    margin-bottom: 0;
  }
  .oneService__content--info--list--item::before {
    display: inline-flex;
    content: "";
    background-color: rgb(103, 103, 103);
    width: 1.875rem;
    height: 2.125rem;
    aspect-ratio: 30/34;
    margin-right: 1.3125rem;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }
  .oneService__content--info--list--item.price::before {
    -webkit-mask-image: url("../images/service/price.png");
    mask-image: url("../images/service/price.png");
  }
  .oneService__content--info--list--item.time::before {
    -webkit-mask-image: url("../images/service/time.png");
    mask-image: url("../images/service/time.png");
  }
}
@media (min-width: 48rem) {
  .oneService {
    padding-top: 7.1875rem;
    padding-bottom: 6.6875rem;
  }
  .oneService::before {
    width: 25%;
  }
  .oneService__content--image {
    aspect-ratio: 1220/397;
    border-radius: 5.0625rem;
  }
  .oneService__content--price {
    margin-bottom: 1.875rem;
  }
  .oneService__content--price--text {
    border-radius: 0.9375rem;
    padding: 0.1875rem 0.9375rem;
  }
  .oneService__content--price--text > .new {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .oneService__content--price--text > .old {
    font-size: 1.5625rem;
    line-height: 1.875rem;
  }
  .oneService__content--title {
    margin-bottom: 0.6875rem;
  }
  .oneService__content--title--text {
    font-size: 2.8125rem;
    line-height: 2.8125rem;
  }
  .oneService__content--text {
    margin-bottom: 5.25rem;
  }
  .oneService__content--info--title {
    font-size: 2.1875rem;
    line-height: 2.1875rem;
    margin-bottom: 2.5625rem;
  }
  .oneService__content--info--list--item {
    margin-bottom: 1.9375rem;
  }
}

/*# sourceMappingURL=main.css.map */
