.wrapper, .wrapper > * {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 68.75rem;
  max-width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  width: 100%;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: calc(8.3333333333% - 1.25rem);
}

.col-2 {
  flex: 0 0 auto;
  width: calc(16.6666666667% - 1.25rem);
}

.col-3 {
  flex: 0 0 auto;
  width: calc(25% - 1.25rem);
}

.col-4 {
  flex: 0 0 auto;
  width: calc(33.3333333333% - 1.25rem);
}

.col-5 {
  flex: 0 0 auto;
  width: calc(41.6666666667% - 1.25rem);
}

.col-6 {
  flex: 0 0 auto;
  width: calc(50% - 1.25rem);
}

.col-7 {
  flex: 0 0 auto;
  width: calc(58.3333333333% - 1.25rem);
}

.col-8 {
  flex: 0 0 auto;
  width: calc(66.6666666667% - 1.25rem);
}

.col-9 {
  flex: 0 0 auto;
  width: calc(75% - 1.25rem);
}

.col-10 {
  flex: 0 0 auto;
  width: calc(83.3333333333% - 1.25rem);
}

.col-11 {
  flex: 0 0 auto;
  width: calc(91.6666666667% - 1.25rem);
}

.col-12 {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
}

@media (max-width: 0) {
  .col-xs-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-xs-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
}
@media (max-width: 36rem) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
}
@media (max-width: 48rem) {
  .col-md-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
}
@media (max-width: 62rem) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
}
@media (max-width: 75rem) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
}
@media (max-width: 87.5rem) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% - 1.25rem);
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: calc(16.6666666667% - 1.25rem);
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: calc(25% - 1.25rem);
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.25rem);
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: calc(41.6666666667% - 1.25rem);
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: calc(58.3333333333% - 1.25rem);
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: calc(66.6666666667% - 1.25rem);
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: calc(75% - 1.25rem);
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: calc(83.3333333333% - 1.25rem);
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: calc(91.6666666667% - 1.25rem);
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
