@include bp(xs){
	.workList{
		&__panel{
			margin-bottom: px2rem(34);
		}
		&__row{
			&--item{
				margin-bottom: px2rem(20);
				&--slider{
					display: flex;
					align-items: stretch;
					&--inner{
						height: 100%;
						&--item{
							border-radius: px2rem(41);
							overflow: hidden;
							img{
								width: 100%;
								height: 100%;
								object-fit: cover;
								background-color: red;
							}
						}
					}
				}
				&--text{
					margin-top: px2rem(18);
					font-size: px2rem(22);
					line-height: px2rem(25.19);
					color: $color-text-light;
				}
			}
		}
	}
}


@include bp(md){
	.workList{
		.button.load{
			margin-top: px2rem(111);
		}
		&__panel{
			margin-bottom: px2rem(69);
		}
		&__row{
			&--item{
				margin-bottom: px2rem(77);
				justify-content: stretch;
				&--slider{
					display: flex;
					align-items: stretch;
					height: 100%;
					&--inner{
						height: 100%;
						&--item{
							border-radius: px2rem(65);
						}
					}
				}
				&--text{
					margin-top: px2rem(18);
					font-size: px2rem(22);
					line-height: px2rem(25.19);
					color: $color-text-light;
				}
			}
		}
	}
}

