@include bp(xs){

  .header{
    padding-top: px2rem(12);
    padding-bottom: px2rem(12);
    position: relative;
    background-color: $default-light-color;
    box-shadow: $header-box-shadow;

    &__box{
      display: flex;
      text-decoration: none;

      &--logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: px2rem(10);

        img{
          width: px2rem(44);
          height: px2rem(44);
        }

      }

      &--text{
        display: flex;
        justify-content: center;
        flex-direction: column;

        &--title{
          font-size: px2rem(18);
          line-height: px2rem(18.14);
          color: $color-text-primary;
        }

        &--subtitle{
          font-size: px2rem(15);
          line-height: px2rem(11.7);
          color: $color-text-secondary;
        }

      }

    }

    &__burger{
      display: flex;
      justify-content: end;
      cursor: pointer;

      &--icon{
        width: px2rem(44);
        height: px2rem(44);
        background-color: $color-onbg;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--line{
          width: px2rem(20);
          height: px2rem(2);
          background-color: $color-darkGray;
          border-radius: px2rem(2);
          position: relative;
          &::before, &::after{
            content: '';
            width: px2rem(20);
            height: px2rem(2);
            background-color: $color-darkGray;
            border-radius: px2rem(2);
            position: absolute;
            left: 0;
          }
          &::before{
            top: px2rem(-6);
          }
          &::after{
            top: px2rem(6);
          }

          &, &::before, &::after{
            transition: all 0.3s;
          }

        }
      }
    }

    &__burger--icon.active{
      position: relative;
      z-index: 4;
      .header__burger--icon--line{
        background-color: transparent;
        &::before{
          top: 0;
          transform: rotate(45deg);
        }
        &::after{
          top: 0;
          transform: rotate(-45deg);
        }

      }
    }

    &__nav{
      position: fixed;
      right: -100vw;
      top: 0;
      height: 100vh;
      transition: right 0.3s, opacity 0.3s;
      opacity: 0;
      margin: 0;
      width: calc(100vw - 17.6vw);
      border-radius: px2rem(23);
      z-index: 3;

      &--inner{
        height: 100%;
        width: 100%;
        background-color: $default-light-color;
        z-index: 3;
      }

      &.active{
        opacity: 1;
        right: 0;
        transition: all 0.3s;

      }

      &.active::before{
         content: '';
         position: fixed;
         top: 0;
         left: 0;
         width: 100vw;
         height: 100vh;
         background-color: $color-text-secondary;
         z-index: -1;
      }

      &--logo{
        background-color: $default-light-color;
        display: flex;
        align-items: center;
        padding: px2rem(12) px2rem(16) px2rem(31) px2rem(16);
        &--image{
          width: px2rem(44);
          height: px2rem(44);
          margin-right: px2rem(10);
        }
        &--title{
          font-size: px2rem(18);
          line-height: px2rem(18.14);
          color: $color-text-primary;
          font-family: 'Izhitsa';
          text-transform: uppercase;
        }
      }

      &--menu{
        width: 100%;
        list-style: none;
        padding: 0 px2rem(16);
        background-color: $default-light-color;
        position: relative;
        margin: 0;

        &--item{
          display: flex;
          justify-content: center;
          text-align: center;
          padding: px2rem(11) 0;
          background-color: $menu-item-bg;
          border-radius: px2rem(9);
          display: flex;
          align-items: center;
          margin-bottom: px2rem(3);
          a{
            text-decoration: none;
            font-size: px2rem(14);
            line-height: px2rem(16.71);
            font-family: 'SF Pro Text Regular';
            color: $text-color;
          }
          span{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: px2rem(5);
            width: px2rem(13);
            height: px2rem(13);
            background-color: $first-accent-color;
            mask-size: cover;
            mask-position: center;
            mask-repeat: no-repeat;
            -webkit-mask-size: cover;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
          }
        }
      }

      &--button{
        margin: px2rem(30) px2rem(16) 0 px2rem(16);
        & > .button::after{
          content: "";
          display: block;
          width: px2rem(13);
          height: px2rem(13);
          background-color: $default-light-color;
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-image: url("../images/check.svg");
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-image: url("../images/check.svg");
          margin-left: px2rem(8);
        }
      }

    }
  }
}

@include bp(xl){

  .header{
    &__nav{
      @include col(7, 12);
      height: unset;
      position: static;
      opacity: 1;
      box-shadow: unset;
      top: unset;
      right: unset;
      &--inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &--menu{
        display: flex;
        flex-direction: row;
        justify-content: end;
        &--item{
          margin-left: px2rem(30);
          background-color: transparent;
          padding: 0;
        }
      }
      &--inner{

      }
    }
    &__button{
      display: flex;
      align-items: center;
      justify-content: end;

      .button{
        height: fit-content;
        padding-left: px2rem(20);
        padding-right: px2rem(22);
        display: flex;
        justify-content: center;
        align-items: center;

        &::after{
          content: "";
          display: block;
          width: px2rem(13);
          height: px2rem(13);
          background-color: $default-light-color;
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-image: url("../images/check.svg");
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-image: url("../images/check.svg");
          margin-left: px2rem(8);
        }
      }
    }
  }
}

