@include bp(xs){
	.oneService{

		&__content{
			& > div{
				width: 100%;
			}

			&--image{
				aspect-ratio: 352/233;
				border-radius: px2rem(22);
				overflow: hidden;
				margin-bottom: px2rem(18);
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			&--price{
				text-transform: uppercase;
				margin-bottom: px2rem(20);
				&--text{
					padding: px2rem(6) px2rem(15);
					border-radius: px2rem(8);
					width: fit-content;
					box-shadow: $price-box-shadow;
					font-family: 'SF Pro Text Bold';

					& > .new{
						font-size: px2rem(20);
						line-height: px2rem(4.4);
						background: $green-gradient;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					& > .old{
						font-size: px2rem(16);
						line-height: px2rem(4.4);
						color: $old-price-color;
						text-decoration: line-through;
					}
				}
			}

			&--title{
				margin-bottom: px2rem(20);
				&--text{
					font-size: px2rem(35);
					line-height: px2rem(35.27);
				}
			}

			&--text{
				margin-bottom: px2rem(25);
				& > p{
					font-size: px2rem(25);
					line-height: px2rem(28.62);
					color: $color-text-light;
				}
				& > p+p{
					margin-top: px2rem(15);
				}
			}

			&--info{
				&--title{
					font-size: px2rem(35);
					line-height: px2rem(35.27);
					margin-bottom: px2rem(21);
				}
				&--list{

					&--item{
						display: flex;
						font-size: px2rem(25);
						line-height: px2rem(28.62);
						color: $color-text-light;
						margin-bottom: px2rem(29);
					}

					&--item:last-child{
						margin-bottom: 0;
					}

					&--item::before{
						display: inline-flex;
						content: '';
						background-color: $color-text-light;
						width: px2rem(30);
						height: px2rem(34);
						aspect-ratio: 30 / 34;
						margin-right: px2rem(21);
						mask-size: contain;
						mask-position: center;
						mask-repeat: no-repeat;
					}

					&--item.price::before{
						-webkit-mask-image: url("../images/service/price.png");
						mask-image: url("../images/service/price.png");
					}

					&--item.time::before{
						-webkit-mask-image: url("../images/service/time.png");
						mask-image: url("../images/service/time.png");
					}
				}
			}
		}
	}
}

@include bp(md){
	.oneService{
		&__content{

			&--image{
				aspect-ratio: 1220 / 397;
				border-radius: px2rem(81);
			}

			&--price{
				margin-bottom: px2rem(30);
				&--text{
					border-radius: px2rem(15);
					padding: px2rem(3) px2rem(15);
					& > .new{
						font-size: px2rem(40);
						line-height: px2rem(48);
					}
					& > .old{
						font-size: px2rem(25);
						line-height: px2rem(30);
					}
				}
			}

			&--title{
				margin-bottom: px2rem(11);
				&--text{
					font-size: px2rem(45);
					line-height: px2rem(45);
				}
			}

			&--text{
				margin-bottom: px2rem(84);
			}

			&--info{
				&--title{
					font-size: px2rem(35);
					line-height: px2rem(35);
					margin-bottom: px2rem(41);
				}
				&--list{
					&--item{
						margin-bottom: px2rem(31);
					}
				}
			}

		}
	}
}

@include bp(null, md){
	.oneService__content--text, .oneService__content--text > p, .oneService__content--info--list--item {
		font-size: px2rem(18);
		line-height: 1.2;
	}
}