/* Error: Undefined mixin.
 *     ,
 * 1   | / @include bp(xs){
 * 2   | |     .reviews{
 * 3   | |         display: block;
 * 4   | |         position: relative;
 * 5   | |         &::before{
 * 6   | |             content: "";
 * 7   | |             display: block;
 * 8   | |             position: absolute;
 * 9   | |             width: 25%;
 * 10  | |             aspect-ratio: 1 / 1;
 * 11  | |             bottom: 0;
 * 12  | |             transform: scale(-1, 1);
 * 13  | |             right: 0;
 * 14  | |             z-index: -1;
 * 15  | |             background-image: url("../images/achievements-bg.svg");
 * 16  | |             opacity: 0.7;
 * 17  | |         }
 * 18  | | 
 * 19  | |         & > section{
 * 20  | |             width: 100%;
 * 21  | |         }
 * 22  | | 
 * 23  | |         &__title{
 * 24  | |             margin-bottom: px2rem(43);
 * 25  | |             &--box{
 * 26  | |                 text-transform: uppercase;
 * 27  | |                 text-align: center;
 * 28  | |                 &--subtitle{
 * 29  | |                     color: $text-color;
 * 30  | |                     font-size: px2rem(30);
 * 31  | |                     line-height: px2rem(35);
 * 32  | |                     font-family: 'SF Pro Text Medium';
 * 33  | |                     span{
 * 34  | |                         color: $reviews-subtitle-color;
 * 35  | |                     }
 * 36  | |                 }
 * 37  | |             }
 * 38  | |         }
 * 39  | | 
 * 40  | |         &__box{
 * 41  | |             display: flex;
 * 42  | |             justify-content: space-between;
 * 43  | |             align-items: center;
 * 44  | |             padding-bottom: px2rem(120);
 * 45  | |             .container-big{
 * 46  | |                 overflow-x: hidden;
 * 47  | |                 width: calc($container-big-width - (px2rem(60) * 2));
 * 48  | |             }
 * 49  | |             &--arrow{
 * 50  | |                 display: flex;
 * 51  | |                 align-items: center;
 * 52  | |                 justify-content: center;
 * 53  | |                 width: px2rem(46);
 * 54  | |                 height: px2rem(46);
 * 55  | |                 aspect-ratio: 1 / 1;
 * 56  | |                 border-radius: 50%;
 * 57  | |                 background-color: $default-light-color;
 * 58  | |                 border: px2rem(1) solid $text-color;
 * 59  | |                 cursor: pointer;
 * 60  | |                 &::before{
 * 61  | |                     content: "";
 * 62  | |                     display: block;
 * 63  | |                     width: px2rem(10);
 * 64  | |                     aspect-ratio: 1 / 1;
 * 65  | |                     height: 100%;
 * 66  | |                     mask-image: url("../images/reviews/arrow.svg");
 * 67  | |                     mask-position: center;
 * 68  | |                     mask-size: contain;
 * 69  | |                     mask-repeat: no-repeat;
 * 70  | |                     -webkit-mask-image: url("../images/reviews/arrow.svg");
 * 71  | |                     -webkit-mask-position: center;
 * 72  | |                     -webkit-mask-size: contain;
 * 73  | |                     -webkit-mask-repeat: no-repeat;
 * 74  | |                     background-color: $text-color;
 * 75  | |                 }
 * 76  | |             }
 * 77  | |             &--arrow.right{
 * 78  | |                 transform: rotate(180deg);
 * 79  | |             }
 * 80  | |             &--row{
 * 81  | |                 padding-top: px2rem(20);
 * 82  | |                 min-width: 100vw;
 * 83  | |                 flex-wrap: nowrap;
 * 84  | |                 &--item{
 * 85  | |                     display: inline-flex;
 * 86  | |                     flex-direction: column;
 * 87  | |                     @include col(12, 12);
 * 88  | | 
 * 89  | |                     &--text{
 * 90  | |                         display: flex;
 * 91  | |                         border-radius: px2rem(18);
 * 92  | | 
 * 93  | |                         box-shadow: $review-item-drop-shadow;
 * 94  | |                         background-color: $default-light-color;
 * 95  | |                         padding: px2rem(29) px2rem(29) px2rem(42) px2rem(29);
 * 96  | |                         position: relative;
 * 97  | |                         &::before, &::after{
 * 98  | |                             content: "";
 * 99  | |                             display: block;
 * 100 | |                             aspect-ratio: 1 / 1;
 * 101 | |                             position: absolute;
 * 102 | |                             background-color: $default-light-color;
 * 103 | |                             border-radius: 50%;
 * 104 | |                         }
 * 105 | |                         &::before{
 * 106 | |                             width: px2rem(36);
 * 107 | |                             height: px2rem(36);
 * 108 | |                             bottom: px2rem(-14);
 * 109 | |                             left: px2rem(92);
 * 110 | |                             box-shadow: $review-item-circle-1-drop-shadow;
 * 111 | |                         }
 * 112 | |                         &::after{
 * 113 | |                             width: px2rem(18);
 * 114 | |                             height: px2rem(18);
 * 115 | |                             bottom: px2rem(-34);
 * 116 | |                             left: px2rem(80);
 * 117 | |                             box-shadow: $review-item-circle-2-drop-shadow;
 * 118 | |                         }
 * 119 | |                         &--content{
 * 120 | |                             font-size: px2rem(16);
 * 121 | |                             line-height: px2rem(22.72);
 * 122 | |                             color: $text-color;
 * 123 | |                             &::before{
 * 124 | |                                 display: inline;
 * 125 | |                                 content: "“";
 * 126 | |                             }
 * 127 | |                             &::after{
 * 128 | |                                 display: inline;
 * 129 | |                                 content: "“";
 * 130 | |                             }
 * 131 | |                         }
 * 132 | |                     }
 * 133 | |                     &--author{
 * 134 | |                         margin-top: px2rem(28);
 * 135 | |                         display: flex;
 * 136 | |                         align-items: center;
 * 137 | |                         &--photo{
 * 138 | |                             width: px2rem(66);
 * 139 | |                             height: px2rem(66);
 * 140 | |                             border-radius: 50%;
 * 141 | |                             overflow: hidden;
 * 142 | |                             margin-left: px2rem(23);
 * 143 | |                             & > img{
 * 144 | |                                 width: 100%;
 * 145 | |                                 height: 100%;
 * 146 | |                                 object-fit: cover;
 * 147 | |                             }
 * 148 | |                         }
 * 149 | |                         &--desc{
 * 150 | |                             display: flex;
 * 151 | |                             flex-direction: column;
 * 152 | |                             margin-left: px2rem(15);
 * 153 | |                             &--name{
 * 154 | |                                 font-family: 'SF Pro Text Semibold';
 * 155 | |                                 font-size: px2rem(20);
 * 156 | |                                 line-height: px2rem(28.4);
 * 157 | |                                 color: $review-item-name-color;
 * 158 | |                             }
 * 159 | |                             &--date{
 * 160 | |                                 font-family: 'SF Pro Text Medium';
 * 161 | |                                 font-size: px2rem(16);
 * 162 | |                                 line-height: px2rem(22.72);
 * 163 | |                                 color: $review-item-date-color;
 * 164 | |                             }
 * 165 | |                         }
 * 166 | |                         &--grade{
 * 167 | |                             margin-left: px2rem(11);
 * 168 | |                             &--text{
 * 169 | |                                 display: flex;
 * 170 | |                                 align-items: center;
 * 171 | |                                 font-size: px2rem(16);
 * 172 | |                                 line-height: px2rem(22.72);
 * 173 | |                                 font-family: 'SF Pro Text Heavy';
 * 174 | |                                 color: $review-item-grade-text-color;
 * 175 | |                                 &::before{
 * 176 | |                                     content: "";
 * 177 | |                                     display: inline-flex;
 * 178 | |                                     background-color: $review-item-grade-text-color;
 * 179 | |                                     width: px2rem(18);
 * 180 | |                                     height: px2rem(18);
 * 181 | |                                     aspect-ratio: 1 / 1;
 * 182 | |                                     mask-image: url("../images/reviews/star.svg");
 * 183 | |                                     mask-size: contain;
 * 184 | |                                     mask-repeat: no-repeat;
 * 185 | |                                     mask-position: center;
 * 186 | |                                     -webkit-mask-image: url("../images/reviews/star.svg");
 * 187 | |                                     -webkit-mask-size: contain;
 * 188 | |                                     -webkit-mask-repeat: no-repeat;
 * 189 | |                                     -webkit-mask-position: center;
 * 190 | |                                     margin-right: px2rem(4);
 * 191 | |                                 }
 * 192 | |                             }
 * 193 | |                         }
 * 194 | |                     }
 * 195 | |                 }
 * 196 | | 
 * 197 | |                 &--item.green > &--item--text, &--item.green > &--item--text::before, &--item.green > &--item--text::after{
 * 198 | |                     background-color: $review-item-green-text;
 * 199 | |                 }
 * 200 | | 
 * 201 | |                 &--item.green > &--item--text::before,
 * 202 | |                 &--item.red > &--item--text::before{
 * 203 | |                     box-shadow: unset;
 * 204 | |                 }
 * 205 | | 
 * 206 | |                 &--item.green > &--item--text > &--item--text--label{
 * 207 | |                     position: absolute;
 * 208 | |                     border-radius: px2rem(6);
 * 209 | |                     padding: px2rem(4) px2rem(5);
 * 210 | |                     transform: rotate(9deg);
 * 211 | |                     background-color: $default-light-color;
 * 212 | |                     box-shadow: $review-label-box-shadow;
 * 213 | |                     letter-spacing: 0.03em;
 * 214 | |                     font-size: px2rem(10);
 * 215 | |                     line-height: px2rem(16);
 * 216 | |                     font-family: 'SF Pro Text Heavy';
 * 217 | |                     text-transform: uppercase;
 * 218 | |                     text-align: center;
 * 219 | |                     color: $review-item-green-text;
 * 220 | |                     top: px2rem(0);
 * 221 | |                     right: px2rem(-15);
 * 222 | |                 }
 * 223 | | 
 * 224 | |                 &--item.green > &--item--text > &--item--text--content,
 * 225 | |                 &--item.red > &--item--text > &--item--text--content{
 * 226 | |                     color: $default-light-color;
 * 227 | |                 }
 * 228 | | 
 * 229 | |                 &--item.red > &--item--text, &--item.red > &--item--text::before, &--item.red > &--item--text::after{
 * 230 | |                     background-color: $review-item-red-text;
 * 231 | |                 }
 * 232 | | 
 * 233 | |                 &--item.red > &--item--author > &--item--author--grade > &--item--author--grade--text::before{
 * 234 | |                     background-color: $review-item-red-text;
 * 235 | |                 }
 * 236 | | 
 * 237 | |                 &--item.red > &--item--author > &--item--author--grade > &--item--author--grade--text{
 * 238 | |                     color: $review-item-red-text;
 * 239 | |                 }
 * 240 | | 
 * 241 | |             }
 * 242 | |         }
 * 243 | |     }
 * 244 | \ }
 *     '
 *   reviews.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 1   \2502  \250c  @include bp(xs){\a 2   \2502  \2502      .reviews{\a 3   \2502  \2502          display: block;\a 4   \2502  \2502          position: relative;\a 5   \2502  \2502          &::before{\a 6   \2502  \2502              content: \"\";\a 7   \2502  \2502              display: block;\a 8   \2502  \2502              position: absolute;\a 9   \2502  \2502              width: 25%;\a 10  \2502  \2502              aspect-ratio: 1 / 1;\a 11  \2502  \2502              bottom: 0;\a 12  \2502  \2502              transform: scale(-1, 1);\a 13  \2502  \2502              right: 0;\a 14  \2502  \2502              z-index: -1;\a 15  \2502  \2502              background-image: url(\"../images/achievements-bg.svg\");\a 16  \2502  \2502              opacity: 0.7;\a 17  \2502  \2502          }\a 18  \2502  \2502  \a 19  \2502  \2502          & > section{\a 20  \2502  \2502              width: 100%;\a 21  \2502  \2502          }\a 22  \2502  \2502  \a 23  \2502  \2502          &__title{\a 24  \2502  \2502              margin-bottom: px2rem(43);\a 25  \2502  \2502              &--box{\a 26  \2502  \2502                  text-transform: uppercase;\a 27  \2502  \2502                  text-align: center;\a 28  \2502  \2502                  &--subtitle{\a 29  \2502  \2502                      color: $text-color;\a 30  \2502  \2502                      font-size: px2rem(30);\a 31  \2502  \2502                      line-height: px2rem(35);\a 32  \2502  \2502                      font-family: 'SF Pro Text Medium';\a 33  \2502  \2502                      span{\a 34  \2502  \2502                          color: $reviews-subtitle-color;\a 35  \2502  \2502                      }\a 36  \2502  \2502                  }\a 37  \2502  \2502              }\a 38  \2502  \2502          }\a 39  \2502  \2502  \a 40  \2502  \2502          &__box{\a 41  \2502  \2502              display: flex;\a 42  \2502  \2502              justify-content: space-between;\a 43  \2502  \2502              align-items: center;\a 44  \2502  \2502              padding-bottom: px2rem(120);\a 45  \2502  \2502              .container-big{\a 46  \2502  \2502                  overflow-x: hidden;\a 47  \2502  \2502                  width: calc($container-big-width - (px2rem(60) * 2));\a 48  \2502  \2502              }\a 49  \2502  \2502              &--arrow{\a 50  \2502  \2502                  display: flex;\a 51  \2502  \2502                  align-items: center;\a 52  \2502  \2502                  justify-content: center;\a 53  \2502  \2502                  width: px2rem(46);\a 54  \2502  \2502                  height: px2rem(46);\a 55  \2502  \2502                  aspect-ratio: 1 / 1;\a 56  \2502  \2502                  border-radius: 50%;\a 57  \2502  \2502                  background-color: $default-light-color;\a 58  \2502  \2502                  border: px2rem(1) solid $text-color;\a 59  \2502  \2502                  cursor: pointer;\a 60  \2502  \2502                  &::before{\a 61  \2502  \2502                      content: \"\";\a 62  \2502  \2502                      display: block;\a 63  \2502  \2502                      width: px2rem(10);\a 64  \2502  \2502                      aspect-ratio: 1 / 1;\a 65  \2502  \2502                      height: 100%;\a 66  \2502  \2502                      mask-image: url(\"../images/reviews/arrow.svg\");\a 67  \2502  \2502                      mask-position: center;\a 68  \2502  \2502                      mask-size: contain;\a 69  \2502  \2502                      mask-repeat: no-repeat;\a 70  \2502  \2502                      -webkit-mask-image: url(\"../images/reviews/arrow.svg\");\a 71  \2502  \2502                      -webkit-mask-position: center;\a 72  \2502  \2502                      -webkit-mask-size: contain;\a 73  \2502  \2502                      -webkit-mask-repeat: no-repeat;\a 74  \2502  \2502                      background-color: $text-color;\a 75  \2502  \2502                  }\a 76  \2502  \2502              }\a 77  \2502  \2502              &--arrow.right{\a 78  \2502  \2502                  transform: rotate(180deg);\a 79  \2502  \2502              }\a 80  \2502  \2502              &--row{\a 81  \2502  \2502                  padding-top: px2rem(20);\a 82  \2502  \2502                  min-width: 100vw;\a 83  \2502  \2502                  flex-wrap: nowrap;\a 84  \2502  \2502                  &--item{\a 85  \2502  \2502                      display: inline-flex;\a 86  \2502  \2502                      flex-direction: column;\a 87  \2502  \2502                      @include col(12, 12);\a 88  \2502  \2502  \a 89  \2502  \2502                      &--text{\a 90  \2502  \2502                          display: flex;\a 91  \2502  \2502                          border-radius: px2rem(18);\a 92  \2502  \2502  \a 93  \2502  \2502                          box-shadow: $review-item-drop-shadow;\a 94  \2502  \2502                          background-color: $default-light-color;\a 95  \2502  \2502                          padding: px2rem(29) px2rem(29) px2rem(42) px2rem(29);\a 96  \2502  \2502                          position: relative;\a 97  \2502  \2502                          &::before, &::after{\a 98  \2502  \2502                              content: \"\";\a 99  \2502  \2502                              display: block;\a 100 \2502  \2502                              aspect-ratio: 1 / 1;\a 101 \2502  \2502                              position: absolute;\a 102 \2502  \2502                              background-color: $default-light-color;\a 103 \2502  \2502                              border-radius: 50%;\a 104 \2502  \2502                          }\a 105 \2502  \2502                          &::before{\a 106 \2502  \2502                              width: px2rem(36);\a 107 \2502  \2502                              height: px2rem(36);\a 108 \2502  \2502                              bottom: px2rem(-14);\a 109 \2502  \2502                              left: px2rem(92);\a 110 \2502  \2502                              box-shadow: $review-item-circle-1-drop-shadow;\a 111 \2502  \2502                          }\a 112 \2502  \2502                          &::after{\a 113 \2502  \2502                              width: px2rem(18);\a 114 \2502  \2502                              height: px2rem(18);\a 115 \2502  \2502                              bottom: px2rem(-34);\a 116 \2502  \2502                              left: px2rem(80);\a 117 \2502  \2502                              box-shadow: $review-item-circle-2-drop-shadow;\a 118 \2502  \2502                          }\a 119 \2502  \2502                          &--content{\a 120 \2502  \2502                              font-size: px2rem(16);\a 121 \2502  \2502                              line-height: px2rem(22.72);\a 122 \2502  \2502                              color: $text-color;\a 123 \2502  \2502                              &::before{\a 124 \2502  \2502                                  display: inline;\a 125 \2502  \2502                                  content: \"\201c \";\a 126 \2502  \2502                              }\a 127 \2502  \2502                              &::after{\a 128 \2502  \2502                                  display: inline;\a 129 \2502  \2502                                  content: \"\201c \";\a 130 \2502  \2502                              }\a 131 \2502  \2502                          }\a 132 \2502  \2502                      }\a 133 \2502  \2502                      &--author{\a 134 \2502  \2502                          margin-top: px2rem(28);\a 135 \2502  \2502                          display: flex;\a 136 \2502  \2502                          align-items: center;\a 137 \2502  \2502                          &--photo{\a 138 \2502  \2502                              width: px2rem(66);\a 139 \2502  \2502                              height: px2rem(66);\a 140 \2502  \2502                              border-radius: 50%;\a 141 \2502  \2502                              overflow: hidden;\a 142 \2502  \2502                              margin-left: px2rem(23);\a 143 \2502  \2502                              & > img{\a 144 \2502  \2502                                  width: 100%;\a 145 \2502  \2502                                  height: 100%;\a 146 \2502  \2502                                  object-fit: cover;\a 147 \2502  \2502                              }\a 148 \2502  \2502                          }\a 149 \2502  \2502                          &--desc{\a 150 \2502  \2502                              display: flex;\a 151 \2502  \2502                              flex-direction: column;\a 152 \2502  \2502                              margin-left: px2rem(15);\a 153 \2502  \2502                              &--name{\a 154 \2502  \2502                                  font-family: 'SF Pro Text Semibold';\a 155 \2502  \2502                                  font-size: px2rem(20);\a 156 \2502  \2502                                  line-height: px2rem(28.4);\a 157 \2502  \2502                                  color: $review-item-name-color;\a 158 \2502  \2502                              }\a 159 \2502  \2502                              &--date{\a 160 \2502  \2502                                  font-family: 'SF Pro Text Medium';\a 161 \2502  \2502                                  font-size: px2rem(16);\a 162 \2502  \2502                                  line-height: px2rem(22.72);\a 163 \2502  \2502                                  color: $review-item-date-color;\a 164 \2502  \2502                              }\a 165 \2502  \2502                          }\a 166 \2502  \2502                          &--grade{\a 167 \2502  \2502                              margin-left: px2rem(11);\a 168 \2502  \2502                              &--text{\a 169 \2502  \2502                                  display: flex;\a 170 \2502  \2502                                  align-items: center;\a 171 \2502  \2502                                  font-size: px2rem(16);\a 172 \2502  \2502                                  line-height: px2rem(22.72);\a 173 \2502  \2502                                  font-family: 'SF Pro Text Heavy';\a 174 \2502  \2502                                  color: $review-item-grade-text-color;\a 175 \2502  \2502                                  &::before{\a 176 \2502  \2502                                      content: \"\";\a 177 \2502  \2502                                      display: inline-flex;\a 178 \2502  \2502                                      background-color: $review-item-grade-text-color;\a 179 \2502  \2502                                      width: px2rem(18);\a 180 \2502  \2502                                      height: px2rem(18);\a 181 \2502  \2502                                      aspect-ratio: 1 / 1;\a 182 \2502  \2502                                      mask-image: url(\"../images/reviews/star.svg\");\a 183 \2502  \2502                                      mask-size: contain;\a 184 \2502  \2502                                      mask-repeat: no-repeat;\a 185 \2502  \2502                                      mask-position: center;\a 186 \2502  \2502                                      -webkit-mask-image: url(\"../images/reviews/star.svg\");\a 187 \2502  \2502                                      -webkit-mask-size: contain;\a 188 \2502  \2502                                      -webkit-mask-repeat: no-repeat;\a 189 \2502  \2502                                      -webkit-mask-position: center;\a 190 \2502  \2502                                      margin-right: px2rem(4);\a 191 \2502  \2502                                  }\a 192 \2502  \2502                              }\a 193 \2502  \2502                          }\a 194 \2502  \2502                      }\a 195 \2502  \2502                  }\a 196 \2502  \2502  \a 197 \2502  \2502                  &--item.green > &--item--text, &--item.green > &--item--text::before, &--item.green > &--item--text::after{\a 198 \2502  \2502                      background-color: $review-item-green-text;\a 199 \2502  \2502                  }\a 200 \2502  \2502  \a 201 \2502  \2502                  &--item.green > &--item--text::before,\a 202 \2502  \2502                  &--item.red > &--item--text::before{\a 203 \2502  \2502                      box-shadow: unset;\a 204 \2502  \2502                  }\a 205 \2502  \2502  \a 206 \2502  \2502                  &--item.green > &--item--text > &--item--text--label{\a 207 \2502  \2502                      position: absolute;\a 208 \2502  \2502                      border-radius: px2rem(6);\a 209 \2502  \2502                      padding: px2rem(4) px2rem(5);\a 210 \2502  \2502                      transform: rotate(9deg);\a 211 \2502  \2502                      background-color: $default-light-color;\a 212 \2502  \2502                      box-shadow: $review-label-box-shadow;\a 213 \2502  \2502                      letter-spacing: 0.03em;\a 214 \2502  \2502                      font-size: px2rem(10);\a 215 \2502  \2502                      line-height: px2rem(16);\a 216 \2502  \2502                      font-family: 'SF Pro Text Heavy';\a 217 \2502  \2502                      text-transform: uppercase;\a 218 \2502  \2502                      text-align: center;\a 219 \2502  \2502                      color: $review-item-green-text;\a 220 \2502  \2502                      top: px2rem(0);\a 221 \2502  \2502                      right: px2rem(-15);\a 222 \2502  \2502                  }\a 223 \2502  \2502  \a 224 \2502  \2502                  &--item.green > &--item--text > &--item--text--content,\a 225 \2502  \2502                  &--item.red > &--item--text > &--item--text--content{\a 226 \2502  \2502                      color: $default-light-color;\a 227 \2502  \2502                  }\a 228 \2502  \2502  \a 229 \2502  \2502                  &--item.red > &--item--text, &--item.red > &--item--text::before, &--item.red > &--item--text::after{\a 230 \2502  \2502                      background-color: $review-item-red-text;\a 231 \2502  \2502                  }\a 232 \2502  \2502  \a 233 \2502  \2502                  &--item.red > &--item--author > &--item--author--grade > &--item--author--grade--text::before{\a 234 \2502  \2502                      background-color: $review-item-red-text;\a 235 \2502  \2502                  }\a 236 \2502  \2502  \a 237 \2502  \2502                  &--item.red > &--item--author > &--item--author--grade > &--item--author--grade--text{\a 238 \2502  \2502                      color: $review-item-red-text;\a 239 \2502  \2502                  }\a 240 \2502  \2502  \a 241 \2502  \2502              }\a 242 \2502  \2502          }\a 243 \2502  \2502      }\a 244 \2502  \2514  }\a     \2575 \a   reviews.scss 1:1  root stylesheet";
}
