/* Error: Undefined mixin.
 *     ,
 * 1   | / @include bp(xs){
 * 2   | | 
 * 3   | |     .services{
 * 4   | | 
 * 5   | |         &__title{
 * 6   | |             text-align: center;
 * 7   | |             margin-bottom: px2rem(61);
 * 8   | |         }
 * 9   | | 
 * 10  | |         &__list{
 * 11  | |             justify-content: center;
 * 12  | | 
 * 13  | |             &--item{
 * 14  | |                 width: calc(100% - px2rem(65));
 * 15  | |                 position: relative;
 * 16  | |                 margin-bottom: px2rem(22);
 * 17  | |                 display: flex;
 * 18  | |                 flex-direction: column;
 * 19  | |                 align-items: center;
 * 20  | |                 justify-content: center;
 * 21  | |                 padding: px2rem(20) px2rem(12);
 * 22  | | 
 * 23  | |                 & > *:not(&::before, &::after){
 * 24  | |                     text-align: center;
 * 25  | |                     z-index: 1;
 * 26  | |                 }
 * 27  | | 
 * 28  | |                 &--icon{
 * 29  | |                     width: 100%;
 * 30  | |                     height: px2rem(70);
 * 31  | |                     margin-bottom: px2rem(10);
 * 32  | |                     background-color: $default-cian;
 * 33  | |                     mask-size: contain;
 * 34  | |                     mask-position: center;
 * 35  | |                     mask-repeat: no-repeat;
 * 36  | |                     -webkit-mask-size: contain;
 * 37  | |                     -webkit-mask-position: center;
 * 38  | |                     -webkit-mask-repeat: no-repeat;
 * 39  | |                     position: relative;
 * 40  | |                 }
 * 41  | | 
 * 42  | |                 &--title{
 * 43  | |                     font-size: px2rem(20);
 * 44  | |                     line-height: px2rem(24);
 * 45  | |                     color: $text-color;
 * 46  | |                     margin-bottom: px2rem(10);
 * 47  | |                     text-align: center;
 * 48  | |                 }
 * 49  | | 
 * 50  | |                 &--text{
 * 51  | |                     font-size: px2rem(13);
 * 52  | |                     line-height: px2rem(16);
 * 53  | |                     color: $services-card-text-color;
 * 54  | |                     letter-spacing: 0.03em;
 * 55  | |                     text-align: center;
 * 56  | |                 }
 * 57  | | 
 * 58  | |                 &::before{
 * 59  | |                     content: '';
 * 60  | |                     width: 100%;
 * 61  | |                     height: 100%;
 * 62  | |                     display: block;
 * 63  | |                     opacity: 0;
 * 64  | |                     position: absolute;
 * 65  | |                     z-index: -1;
 * 66  | |                     background-color: $services-card-hover;
 * 67  | |                     border-radius: px2rem(30);
 * 68  | |                     transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
 * 69  | |                 }
 * 70  | | 
 * 71  | |                 &::after{
 * 72  | |                     content: '';
 * 73  | |                     width: 100%;
 * 74  | |                     top: px2rem(25);
 * 75  | |                     height: px2rem(65);
 * 76  | |                     display: block;
 * 77  | |                     position: absolute;
 * 78  | |                     mask-image: url("../images/services-card-icon-before.svg");
 * 79  | |                     mask-position: center;
 * 80  | |                     mask-repeat: no-repeat;
 * 81  | |                     mask-size: contain;
 * 82  | |                     -webkit-mask-image: url("../images/services-card-icon-before.svg");
 * 83  | |                     -webkit-mask-position: center;
 * 84  | |                     -webkit-mask-repeat: no-repeat;
 * 85  | |                     -webkit-mask-size: contain;
 * 86  | |                     background-color: $services-card-before-color;
 * 87  | |                     z-index: -1;
 * 88  | |                 }
 * 89  | | 
 * 90  | |                 &:hover::before{
 * 91  | |                     opacity: 1;
 * 92  | |                     transform: rotate(-5deg);
 * 93  | |                 }
 * 94  | | 
 * 95  | |             }
 * 96  | | 
 * 97  | |         }
 * 98  | | 
 * 99  | |         &__button.button.btn-border{
 * 100 | |             font-size: px2rem(20);
 * 101 | |             line-height: px2rem(24);
 * 102 | |             padding: px2rem(5);
 * 103 | |             margin-top: px2rem(60);
 * 104 | |             margin-bottom: px2rem(73);
 * 105 | |         }
 * 106 | |     }
 * 107 | \ }
 *     '
 *   services.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 1   \2502  \250c  @include bp(xs){\a 2   \2502  \2502  \a 3   \2502  \2502      .services{\a 4   \2502  \2502  \a 5   \2502  \2502          &__title{\a 6   \2502  \2502              text-align: center;\a 7   \2502  \2502              margin-bottom: px2rem(61);\a 8   \2502  \2502          }\a 9   \2502  \2502  \a 10  \2502  \2502          &__list{\a 11  \2502  \2502              justify-content: center;\a 12  \2502  \2502  \a 13  \2502  \2502              &--item{\a 14  \2502  \2502                  width: calc(100% - px2rem(65));\a 15  \2502  \2502                  position: relative;\a 16  \2502  \2502                  margin-bottom: px2rem(22);\a 17  \2502  \2502                  display: flex;\a 18  \2502  \2502                  flex-direction: column;\a 19  \2502  \2502                  align-items: center;\a 20  \2502  \2502                  justify-content: center;\a 21  \2502  \2502                  padding: px2rem(20) px2rem(12);\a 22  \2502  \2502  \a 23  \2502  \2502                  & > *:not(&::before, &::after){\a 24  \2502  \2502                      text-align: center;\a 25  \2502  \2502                      z-index: 1;\a 26  \2502  \2502                  }\a 27  \2502  \2502  \a 28  \2502  \2502                  &--icon{\a 29  \2502  \2502                      width: 100%;\a 30  \2502  \2502                      height: px2rem(70);\a 31  \2502  \2502                      margin-bottom: px2rem(10);\a 32  \2502  \2502                      background-color: $default-cian;\a 33  \2502  \2502                      mask-size: contain;\a 34  \2502  \2502                      mask-position: center;\a 35  \2502  \2502                      mask-repeat: no-repeat;\a 36  \2502  \2502                      -webkit-mask-size: contain;\a 37  \2502  \2502                      -webkit-mask-position: center;\a 38  \2502  \2502                      -webkit-mask-repeat: no-repeat;\a 39  \2502  \2502                      position: relative;\a 40  \2502  \2502                  }\a 41  \2502  \2502  \a 42  \2502  \2502                  &--title{\a 43  \2502  \2502                      font-size: px2rem(20);\a 44  \2502  \2502                      line-height: px2rem(24);\a 45  \2502  \2502                      color: $text-color;\a 46  \2502  \2502                      margin-bottom: px2rem(10);\a 47  \2502  \2502                      text-align: center;\a 48  \2502  \2502                  }\a 49  \2502  \2502  \a 50  \2502  \2502                  &--text{\a 51  \2502  \2502                      font-size: px2rem(13);\a 52  \2502  \2502                      line-height: px2rem(16);\a 53  \2502  \2502                      color: $services-card-text-color;\a 54  \2502  \2502                      letter-spacing: 0.03em;\a 55  \2502  \2502                      text-align: center;\a 56  \2502  \2502                  }\a 57  \2502  \2502  \a 58  \2502  \2502                  &::before{\a 59  \2502  \2502                      content: '';\a 60  \2502  \2502                      width: 100%;\a 61  \2502  \2502                      height: 100%;\a 62  \2502  \2502                      display: block;\a 63  \2502  \2502                      opacity: 0;\a 64  \2502  \2502                      position: absolute;\a 65  \2502  \2502                      z-index: -1;\a 66  \2502  \2502                      background-color: $services-card-hover;\a 67  \2502  \2502                      border-radius: px2rem(30);\a 68  \2502  \2502                      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;\a 69  \2502  \2502                  }\a 70  \2502  \2502  \a 71  \2502  \2502                  &::after{\a 72  \2502  \2502                      content: '';\a 73  \2502  \2502                      width: 100%;\a 74  \2502  \2502                      top: px2rem(25);\a 75  \2502  \2502                      height: px2rem(65);\a 76  \2502  \2502                      display: block;\a 77  \2502  \2502                      position: absolute;\a 78  \2502  \2502                      mask-image: url(\"../images/services-card-icon-before.svg\");\a 79  \2502  \2502                      mask-position: center;\a 80  \2502  \2502                      mask-repeat: no-repeat;\a 81  \2502  \2502                      mask-size: contain;\a 82  \2502  \2502                      -webkit-mask-image: url(\"../images/services-card-icon-before.svg\");\a 83  \2502  \2502                      -webkit-mask-position: center;\a 84  \2502  \2502                      -webkit-mask-repeat: no-repeat;\a 85  \2502  \2502                      -webkit-mask-size: contain;\a 86  \2502  \2502                      background-color: $services-card-before-color;\a 87  \2502  \2502                      z-index: -1;\a 88  \2502  \2502                  }\a 89  \2502  \2502  \a 90  \2502  \2502                  &:hover::before{\a 91  \2502  \2502                      opacity: 1;\a 92  \2502  \2502                      transform: rotate(-5deg);\a 93  \2502  \2502                  }\a 94  \2502  \2502  \a 95  \2502  \2502              }\a 96  \2502  \2502  \a 97  \2502  \2502          }\a 98  \2502  \2502  \a 99  \2502  \2502          &__button.button.btn-border{\a 100 \2502  \2502              font-size: px2rem(20);\a 101 \2502  \2502              line-height: px2rem(24);\a 102 \2502  \2502              padding: px2rem(5);\a 103 \2502  \2502              margin-top: px2rem(60);\a 104 \2502  \2502              margin-bottom: px2rem(73);\a 105 \2502  \2502          }\a 106 \2502  \2502      }\a 107 \2502  \2514  }\a     \2575 \a   services.scss 1:1  root stylesheet";
}
