/* Error: Undefined mixin.
 *    ,
 * 1  | / @include bp(xs){
 * 2  | |     .workList{
 * 3  | |         &__panel{
 * 4  | |             margin-bottom: px2rem(34);
 * 5  | |         }
 * 6  | |         &__row{
 * 7  | |             &--item{
 * 8  | |                 margin-bottom: px2rem(20);
 * 9  | |                 &--slider{
 * 10 | |                     display: flex;
 * 11 | |                     align-items: stretch;
 * 12 | |                     &--inner{
 * 13 | |                         height: 100%;
 * 14 | |                         &--item{
 * 15 | |                             border-radius: px2rem(41);
 * 16 | |                             overflow: hidden;
 * 17 | |                             img{
 * 18 | |                                 width: 100%;
 * 19 | |                                 height: 100%;
 * 20 | |                                 object-fit: cover;
 * 21 | |                             }
 * 22 | |                         }
 * 23 | |                     }
 * 24 | |                 }
 * 25 | |                 &--text{
 * 26 | |                     margin-top: px2rem(18);
 * 27 | |                     font-size: px2rem(22);
 * 28 | |                     line-height: px2rem(25.19);
 * 29 | |                     color: $color-text-light;
 * 30 | |                 }
 * 31 | |             }
 * 32 | |         }
 * 33 | |     }
 * 34 | \ }
 *    '
 *   workList.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include bp(xs){\a 2  \2502  \2502      .workList{\a 3  \2502  \2502          &__panel{\a 4  \2502  \2502              margin-bottom: px2rem(34);\a 5  \2502  \2502          }\a 6  \2502  \2502          &__row{\a 7  \2502  \2502              &--item{\a 8  \2502  \2502                  margin-bottom: px2rem(20);\a 9  \2502  \2502                  &--slider{\a 10 \2502  \2502                      display: flex;\a 11 \2502  \2502                      align-items: stretch;\a 12 \2502  \2502                      &--inner{\a 13 \2502  \2502                          height: 100%;\a 14 \2502  \2502                          &--item{\a 15 \2502  \2502                              border-radius: px2rem(41);\a 16 \2502  \2502                              overflow: hidden;\a 17 \2502  \2502                              img{\a 18 \2502  \2502                                  width: 100%;\a 19 \2502  \2502                                  height: 100%;\a 20 \2502  \2502                                  object-fit: cover;\a 21 \2502  \2502                              }\a 22 \2502  \2502                          }\a 23 \2502  \2502                      }\a 24 \2502  \2502                  }\a 25 \2502  \2502                  &--text{\a 26 \2502  \2502                      margin-top: px2rem(18);\a 27 \2502  \2502                      font-size: px2rem(22);\a 28 \2502  \2502                      line-height: px2rem(25.19);\a 29 \2502  \2502                      color: $color-text-light;\a 30 \2502  \2502                  }\a 31 \2502  \2502              }\a 32 \2502  \2502          }\a 33 \2502  \2502      }\a 34 \2502  \2514  }\a    \2575 \a   workList.scss 1:1  root stylesheet";
}
