$rem-base: 16;

@import "functions";
@import 'variables';
@import 'mixins';
@import 'classes';

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

.wrapper{
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}

ul, ol{
    list-style: none;
    padding: 0;
    left: 0;
    li{
        margin: 0;
        padding: 0;
    }
}

a{
    text-decoration: none;
    color: inherit;
}
