$container-max-width: px2rem(1220) !default;
$container-medium-width: px2rem(1573) !default;
$container-big-width: px2rem(1840) !default;
$grid-collumns-count: 12 !default;

$grid-collumns-counts: (
	bs: 12,
	fg: 5
) !default;

$gap-grid: px2rem(20) !default;
$gap-grid-half: $gap-grid / 2;
$grid-breakpoints: (
    xs: 0,
    sm: px2rem(576),
    md: px2rem(768),
    lg: px2rem(992),
    xl: px2rem(1200),
    xxl: px2rem(1400)
) !default;

